<h1 align = "center">Registered children by Trisomy type:</h1>
<div style="width: 100%; height: 550px">
<table style = "width: 40%; float: left">
    <tr>
        <th>Trisomy Type</th>
        <th>Registered Children</th>
        <th>Common Name</th>
        <th>Percent (%)</th>
    </tr>
    
        <% trisomy_number = 1 %>
        <% common_names = ["-", "-", "-", "-", "-", "-", "-", "-", "Warkay Syndrome", "-", "-", "-", "-", "Patau Syndrome", "-", "-", "-", "-", "Edwards Syndrome", "-", "-", "Down Syndrome", "-", "-"] %>
        <% 23.times do %>
    <tr>
        <td><%= trisomy_number %></td>
        <td><%= Child.where(trisomy_type: trisomy_number).count %></td>
        <td><%= common_names[trisomy_number] %> </td>
        <% count = Child.where(trisomy_type: trisomy_number).count %>
        <% decimal = count.to_f / Child.all.count.to_f %>
        <% percent = decimal * 100 %>
        <% percent_integer = percent.to_i %>
        <% if percent_integer == 0 %>
            <% percent_integer = "-" %>
        <% end %>
        <td><%= percent_integer %></td> 

    </tr>
    <% trisomy_number += 1 %>
    <% end %>
</table>
<br>
<div id="container2" style="height: 400px; max-width: 600px; float: right"></div>
</div>

<br>
<h1 align = "center">Registered children by Birth Order</h1>
<table style = "width: 40%; float: left">
    <tr>
        <th>Birth Order</th>
        <th>Number of Registered Children</th>
        <th>Percent (%)</th>
    </tr>
    <tr>
        <td><%= "1" %></td>
        <% number_of_children_birth_order_1 = Child.where(birth_order: 1).count %>
        <td><%= number_of_children_birth_order_1 %></td>
        <% decimal = number_of_children_birth_order_1.to_f / Child.all.count.to_f %>
        <% percent = decimal * 100 %>
        <td><%=  percent.to_i %> </td>
    <tr>
        <td><%= "2" %></td>
        <% number_of_children_birth_order_2 = Child.where(birth_order: 2).count %>
        <td><%= number_of_children_birth_order_2 %></td>
        <% decimal = number_of_children_birth_order_2.to_f / Child.all.count.to_f %>
        <% percent = decimal * 100 %>
        <td><%=  percent.to_i %> </td>
    </tr>
    <tr>
        <td><%= "3 or higher" %></td>
        <% number_of_children_birth_order_greater_than_3 = Child.where("birth_order > ?", 2).count %>
        <td><%= number_of_children_birth_order_greater_than_3 %></td>
        <% decimal = number_of_children_birth_order_greater_than_3.to_f / Child.all.count.to_f %>
        <% percent = decimal * 100 %>
        <td><%=  percent.to_i %> </td>
    </tr>
</table>

<br>
<div id="container3" style="height: 400px; max-width: 600px; float: right"></div>


<script src="https://code.highcharts.com/highcharts.js"></script>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>



