<h4>Registered children by Trisomy type:</h4>
<table style = "width: 50%">
    <tr>
        <th>Trisomy Type</th>
        <th>Registered Children</th>
    </tr>
    
        <% trisomy_number = 1 %>
        <% 23.times do %>
    <tr>
        <td><%= trisomy_number %></td>
        <td><%= Child.where(trisomy_type: trisomy_number).count %></td>
    </tr>
    <% trisomy_number += 1 %>
    <% end %>
</table>
<!-- <p>1: <%= Child.where(trisomy_type: 1).count %></p> 
<p>2: <%= Child.where(trisomy_type: 2).count %></p> 
<p>3: <%= Child.where(trisomy_type: 3).count %></p> 
<p>4: <%= Child.where(trisomy_type: 4).count %></p> 
<p>5: <%= Child.where(trisomy_type: 5).count %></p> 
<p>6: <%= Child.where(trisomy_type: 6).count %></p> 
<p>7: <%= Child.where(trisomy_type: 7).count %></p> 
<p>8: <%= Child.where(trisomy_type: 8).count %></p> 
<p>9: <%= Child.where(trisomy_type: 9).count %></p> 
<p>10: <%= Child.where(trisomy_type: 10).count %></p> 
<p>11: <%= Child.where(trisomy_type: 11).count %></p> 
<p>12: <%= Child.where(trisomy_type: 12).count %></p> 
<p>13: <%= Child.where(trisomy_type: 13).count %></p> 
<p>14: <%= Child.where(trisomy_type: 14).count %></p> 
<p>15: <%= Child.where(trisomy_type: 15).count %></p> 
<p>16: <%= Child.where(trisomy_type: 16).count %></p> 
<p>17: <%= Child.where(trisomy_type: 17).count %></p> 
<p>18: <%= Child.where(trisomy_type: 18).count %></p> 
<p>19: <%= Child.where(trisomy_type: 19).count %></p> 
<p>20: <%= Child.where(trisomy_type: 20).count %></p> 
<p>21: <%= Child.where(trisomy_type: 21).count %></p> 
<p>22: <%= Child.where(trisomy_type: 22).count %></p> 
<p>23: <%= Child.where(trisomy_type: 23).count %></p> 
</table>


<table>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
</table> -->

            