<h2>Health History</h2>
  <% if @health_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@health_history.errors.count, "error") %> prohibited this health_history from being updated:</h2>
   
      <ul>
      <% @health_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_tag "/profile/#{@child.id}/health", method: :post do %>
<h3>Heart</h3>
  <% if @congenital_heart_defect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@congenital_heart_defect.errors.count, "error") %> prohibited this congenital_heart_defect from being updated:</h2>
   
      <ul>
      <% @congenital_heart_defect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= label_tag 'Congenital Heart Disease?' %>
    <%= check_box_tag :chd, nil, @health_history.chd %>
  </div>
  <div>
    <%= label_tag :asd %>
    <%= check_box_tag :asd, nil, @congenital_heart_defect.asd %>
    <br>
    <%= label_tag :vsd %>
    <%= check_box_tag :vsd, nil, @congenital_heart_defect.vsd %>
    <br>
    <%= label_tag :pda %>
    <%= check_box_tag :pda, nil, @congenital_heart_defect.pda %>
    <br>
    <%= label_tag :av_canal_defect %>
    <%= check_box_tag :av_canal_defect, nil, @congenital_heart_defect.av_canal_defect %>
    <br>
    <%= label_tag :dorv %>
    <%= check_box_tag :dorv, nil, @congenital_heart_defect.dorv %>
    <br>
    <%= label_tag :tof %>
    <%= check_box_tag :tof, nil, @congenital_heart_defect.tof %>
    <br>
    <%= label_tag :pfo %>
    <%= check_box_tag :pfo, nil, @congenital_heart_defect.pfo %>
    <br>
    <%= label_tag :other %>
    <%= check_box_tag :other, nil, @congenital_heart_defect.other %>
  </div>
  <br>
  <div>
    <p>Offered cardiac surgery?</p>
    <%= label_tag :yes %>
    <%= radio_button_tag :offered_cardiac_surgery, 'yes', (@health_history.offered_cardiac_surgery == "yes") %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :offered_cardiac_surgery, 'no', (@health_history.offered_cardiac_surgery == 'no') %>
    <br>
    <%= label_tag 'n/a' %>
    <%= radio_button_tag :offered_cardiac_surgery, 'n/a', (@health_history.offered_cardiac_surgery == 'n/a') %>
  </div>
  <br>
  <div>
    <%= label_tag :first_cardiac_surgery_age %>
    <%= number_field_tag(:first_cardiac_surgery_age, @health_history.first_cardiac_surgery_age, in: 1.0..50, step: 1)  %> 
  </div>
  <br>
  <div>
    <p>Was the first cardiac surgery successful?</p>
    <%= label_tag :yes %>
    <%= radio_button_tag :first_cardiac_surgery_successful, 'yes', (@health_history.first_cardiac_surgery_successful == 'yes') %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :first_cardiac_surgery_successful, 'no', (@health_history.first_cardiac_surgery_successful == 'no') %>
    <br>
    <%= label_tag 'n/a' %>
    <%= radio_button_tag :first_cardiac_surgery_successful, 'n/a', (@health_history.first_cardiac_surgery_successful == 'n/a') %>
  </div>
  <br>
  <div>
    <%= label_tag :multiple_cardiac_surgeries %>
    <%= check_box_tag :multiple_cardiac_surgeries, nil, @health_history.multiple_cardiac_surgeries %>
    <!-- change to save a string -->
  </div>
  <h3>Gastric/Intestinal</h3>
    <% if @intestinal_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intestinal_issue.errors.count, "error") %> prohibited this intestinal_issue from being updated:</h2>
   
      <ul>
      <% @intestinal_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= label_tag :duodenal_atresia_stenosis_web %>
    <%= check_box_tag :duodenal_atresia_stenosis_web, nil, @intestinal_issue.duodenal_atresia_stenosis_web %>
    <br>
    <%= label_tag :anal_stenosis_atresia %>
    <%= check_box_tag :anal_stenosis_atresia, nil, @intestinal_issue.anal_stenosis_atresia %>
    <br>
    <%= label_tag :esophageal_atresia %>
    <%= check_box_tag :esophageal_atresia, nil, @intestinal_issue.esophageal_atresia %>
    <br>
    <%= label_tag :hirschsprung_disease %>
    <%= check_box_tag :hirschsprung_disease, nil, @intestinal_issue.hirschsprung_disease %>
    <br>
    <%= label_tag :chronic_constipation %>
    <%= check_box_tag :chronic_constipation, nil, @intestinal_issue.chronic_constipation %>
    <br>
    <%= label_tag :dysphagia %>
    <%= check_box_tag :dysphagia, nil, @intestinal_issue.dysphagia %>
    <br>
    <%= label_tag :aspiration %>
    <%= check_box_tag :aspiration, nil, @intestinal_issue.aspiration %>
    <br>
    <%= label_tag :chronic_diarrhea %>
    <%= check_box_tag :chronic_diarrhea, nil, @intestinal_issue.chronic_diarrhea %>
    <br>
    <%= label_tag :pyloric_stenosis %>
    <%= check_box_tag :pyloric_stenosis, nil, @intestinal_issue.pyloric_stenosis %>
    <br>
    <%= label_tag :gastroesophageal_reflux %>
    <%= check_box_tag :gastroesophageal_reflux, nil, @intestinal_issue.gastroesophageal_reflux %>
    <br>
    <%= label_tag :pepticulcers_gallstones %>
    <%= check_box_tag :pepticulcers_gallstones, nil, @intestinal_issue.pepticulcers_gallstones %>
    <br>
    <%= label_tag :hemorrhoids %>
    <%= check_box_tag :hemorrhoids, nil, @intestinal_issue.hemorrhoids %>
    <br>
    <%= label_tag :diverticulitis_diverticulosis %>
    <%= check_box_tag :diverticulitis_diverticulosis, nil, @intestinal_issue.diverticulitis_diverticulosis %>
    <br>
    <%= label_tag :colorectal_carcinoma %>
    <%= check_box_tag :colorectal_carcinoma, nil, @intestinal_issue.colorectal_carcinoma %>
    <br>
    <%= label_tag :ibs %>
    <%= check_box_tag :ibs, nil, @intestinal_issue.ibs %>
    <br>
    <%= label_tag :ibd %>
    <%= check_box_tag :ibd, nil, @intestinal_issue.ibd %>
  </div>
  <br>
    <% if @gastric_surgery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gastric_surgery.errors.count, "error") %> prohibited this gastric_surgery from being updated:</h2>
   
      <ul>
      <% @gastric_surgery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= label_tag :repair_of_duodenal_atresia_stenosis_web %>
    <%= check_box_tag :repair_of_duodenal_atresia_stenosis_web, nil, @gastric_surgery.repair_of_duodenal_atresia_stenosis_web %>
    <br>
    <%= label_tag :repair_of_anal_stenosis_atresia %>
    <%= check_box_tag :repair_of_anal_stenosis_atresia, nil, @gastric_surgery.repair_of_anal_stenosis_atresia %>
    <br>
    <%= label_tag :gastrostomy_tube_placement %>
    <%= check_box_tag :gastrostomy_tube_placement, nil, @gastric_surgery.gastrostomy_tube_placement %>
    <br>
    <%= label_tag :surgery_for_hirschsprung_disease %>
    <%= check_box_tag :surgery_for_hirschsprung_disease, nil, @gastric_surgery.surgery_for_hirschsprung_disease %>
    <br>
    <%= label_tag :fundoplication_nissen_wrap %>
    <%= check_box_tag :fundoplication_nissen_wrap, nil, @gastric_surgery.fundoplication_nissen_wrap %>
    <br>
    <%= label_tag :none %>
    <%= check_box_tag :none, nil, @gastric_surgery.none %>
    <br>
    <%= label_tag :other_gastric_surgery %>
    <%= text_field_tag :other_gastric_surgery, @gastric_surgery.other %>
  </div>
  <h3>Neurological</h3>
    <% if @nuerological_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nuerological_condition.errors.count, "error") %> prohibited this nuerological_condition from being updated:</h2>
   
      <ul>
      <% @nuerological_condition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= label_tag :seizure_epilepsy %>
    <%= check_box_tag :seizure_epilepsy, nil, @health_history.seizure_epilepsy %>
    <br>
    <%= label_tag :brain_malformation %>
    <%= check_box_tag :brain_malformation, nil, @nuerological_condition.brain_malformation %>
    <br>
    <%= label_tag :cyst %>
    <%= check_box_tag :cyst, nil, @nuerological_condition.cyst %>
    <br>
    <%= label_tag :cp %>
    <%= check_box_tag :cp, nil, @nuerological_condition.cp %>
    <br>
    <%= label_tag :stroke %>
    <%= check_box_tag :stroke, nil, @nuerological_condition.stroke %>
    <br>
    <%= label_tag :unsure %>
    <%= check_box_tag :unsure, nil, @nuerological_condition.unsure %>
    <p>Surgeries:</p>
    <%= label_tag :brain_malformation_surgery %>
    <%= check_box_tag :brain_malformation_surgery, nil, @nuerological_condition.brain_malformation_surgery %>
    <br>
    <%= label_tag :cyst_surgery %>
    <%= check_box_tag :cyst_surgery, nil, @nuerological_condition.cyst_surgery %>
    <br>
    <%= label_tag :cp_surgery %>
    <%= check_box_tag :cp_surgery, nil, @nuerological_condition.cp_surgery %>
    <br>
    <%= label_tag :stroke_surgery %>
    <%= check_box_tag :stroke_surgery, nil, @nuerological_condition.stroke_surgery %>
    <br>
    <%= label_tag :other_nuero_surgery %>
    <%= text_field_tag :other_nuero_surgery, @nuerological_condition.other %>
  </div>
  <h3>Muscular/Skeletal</h3>
    <% if @muscular_skeletal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@muscular_skeletal.errors.count, "error") %> prohibited this muscular_skeletal from being updated:</h2>
   
      <ul>
      <% @muscular_skeletal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= label_tag :atlanto_axial_instability %>
    <%= check_box_tag :atlanto_axial_instability, nil, @muscular_skeletal.atlanto_axial_instability %>
    <br>
    <%= label_tag :cervical_spine_degeneration %>
    <%= check_box_tag :cervical_spine_degeneration, nil, @muscular_skeletal.cervical_spine_degeneration %>
    <br>
    <%= label_tag :osteopenia %>
    <%= check_box_tag :osteopenia, nil, @muscular_skeletal.osteopenia %>
    <br>
    <%= label_tag :osteoporosis %>
    <%= check_box_tag :osteoporosis, nil, @muscular_skeletal.osteoporosis %>
    <br>
    <%= label_tag :fractures %>
    <%= check_box_tag :fractures, nil, @muscular_skeletal.fractures %>
    <br>
    <%= label_tag :scoliosis %>
    <%= check_box_tag :scoliosis, nil, @muscular_skeletal.scoliosis %>
    <br>
    <%= label_tag :lordosis %>
    <%= check_box_tag :lordosis, nil, @muscular_skeletal.lordosis %>
    <br>
    <%= label_tag :kyphosis %>
    <%= check_box_tag :kyphosis, nil, @muscular_skeletal.kyphosis %>
    <br>
    <%= label_tag :hand_bone_missing %>
    <%= check_box_tag :hand_bone_missing, nil, @muscular_skeletal.hand_bone_missing %>
    <br>
    <%= label_tag :leg_bone_missing %>
    <%= check_box_tag :leg_bone_missing, nil, @muscular_skeletal.leg_bone_missing %>
    <br>
    <%= label_tag :rib_deformities %>
    <%= check_box_tag :rib_deformities, nil, @muscular_skeletal.rib_deformities %>
    <br>
    <%= label_tag :club_foot %>
    <%= check_box_tag :club_foot, nil, @muscular_skeletal.club_foot %>
    <br>
    <%= label_tag :rocker_bottom_feet %>
    <%= check_box_tag :rocker_bottom_feet, nil, @muscular_skeletal.rocker_bottom_feet %>
    <p>Surgeries:</p>
    <%= label_tag :atlanto_axial_instability_surgery %>
    <%= check_box_tag :atlanto_axial_instability_surgery, nil, @muscular_skeletal.atlanto_axial_instability_surgery %>
    <br>
    <%= label_tag :cervical_spine_degeneration_surgery %>
    <%= check_box_tag :cervical_spine_degeneration_surgery, nil, @muscular_skeletal.cervical_spine_degeneration_surgery %>
    <br>
    <%= label_tag :osteopenia_surgery %>
    <%= check_box_tag :osteopenia_surgery, nil, @muscular_skeletal.osteopenia_surgery %>
    <br>
    <%= label_tag :osteoporosis_surgery %>
    <%= check_box_tag :osteoporosis_surgery, nil, @muscular_skeletal.osteoporosis_surgery %>
    <br>
    <%= label_tag :fractures_surgery %>
    <%= check_box_tag :fractures_surgery, nil, @muscular_skeletal.fractures_surgery %>
    <br>
    <%= label_tag :scoliosis_surgery %>
    <%= check_box_tag :scoliosis_surgery, nil, @muscular_skeletal.scoliosis_surgery %>
    <br>
    <%= label_tag :lordosis_surgery %>
    <%= check_box_tag :lordosis_surgery, nil, @muscular_skeletal.lordosis_surgery %>
    <br>
    <%= label_tag :kyphosis_surgery %>
    <%= check_box_tag :kyphosis_surgery, nil, @muscular_skeletal.kyphosis_surgery %>
    <br>
    <%= label_tag :hand_bone_missing_surgery %>
    <%= check_box_tag :hand_bone_missing_surgery, nil, @muscular_skeletal.hand_bone_missing_surgery %>
    <br>
    <%= label_tag :leg_bone_missing_surgery %>
    <%= check_box_tag :leg_bone_missing_surgery, nil, @muscular_skeletal.leg_bone_missing_surgery %>
    <br>
    <%= label_tag :rib_deformities_surgery %>
    <%= check_box_tag :rib_deformities_surgery, nil, @muscular_skeletal.rib_deformities_surgery %>
    <br>
    <%= label_tag :club_foot_surgery %>
    <%= check_box_tag :club_foot_surgery, nil, @muscular_skeletal.club_foot_surgery %>
    <br>
    <%= label_tag :rocker_bottom_feet_surgery %>
    <%= check_box_tag :rocker_bottom_feet_surgery, nil, @muscular_skeletal.rocker_bottom_feet_surgery %>
  </div>
  <h3>Cranial/Facial</h3>
    <% if @cranial_facial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cranial_facial.errors.count, "error") %> prohibited this cranial_facial from being updated:</h2>
   
      <ul>
      <% @cranial_facial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p>Sleep Apnea?</p>
    <%= label_tag :yes %>
    <%= radio_button_tag :sleep_apnea, 'yes', (@health_history.sleep_apnea == 'yes') %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :sleep_apnea, 'no', (@health_history.sleep_apnea == 'no') %>
    <br>
    <%= label_tag 'n/a' %>
    <%= radio_button_tag :sleep_apnea, 'n/a', (@health_history.sleep_apnea == 'n/a') %>
  </div>
  <div>
    <%= label_tag :cranial_deformities %>
    <%= check_box_tag :cranial_deformities, nil, @cranial_facial.cranial_deformities %>
    <br>
    <%= label_tag :cleft_palate %>
    <%= check_box_tag :cleft_palate, nil, @cranial_facial.cleft_palate %>
    <br>
    <%= label_tag :cleft_lip %>
    <%= check_box_tag :cleft_lip, nil, @cranial_facial.cleft_lip %>
    <br>
    <%= label_tag :high_arch %>
    <%= check_box_tag :high_arch, nil, @cranial_facial.high_arch %>
    <br>
    <%= label_tag :low_set_ears %>
    <%= check_box_tag :low_set_ears, nil, @cranial_facial.low_set_ears %>
    <br>
    <%= label_tag :wide_spaced_eyes %>
    <%= check_box_tag :wide_spaced_eyes, nil, @cranial_facial.wide_spaced_eyes %>
    <br>
    <%= label_tag :wild_eyebrows %>
    <%= check_box_tag :wild_eyebrows, nil, @cranial_facial.wild_eyebrows %>
    <br>
    <%= label_tag :extraordinarily_long_eyelashes %>
    <%= check_box_tag :extraordinarily_long_eyelashes, nil, @cranial_facial.extraordinarily_long_eyelashes %>
    <br>
    <%= label_tag :overgrowth_of_gums %>
    <%= check_box_tag :overgrowth_of_gums, nil, @cranial_facial.overgrowth_of_gums %>
    <br>
    <%= label_tag :delayed_teething %>
    <%= check_box_tag :delayed_teething, nil, @cranial_facial.delayed_teething %>
  </div>
  <h3>Cancer</h3>
  <div>
    <%= label_tag :cancer %>
    <%= select_tag( :cancer, options_for_select(cancer_options, @health_history.cancer)) %>
    <%= label_tag :other %>
    <%= text_field_tag :cancer_other, @health_history.other_cancer %>
  </div>
  <h3>Endocrine</h3>
    <% if @endocrine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endocrine.errors.count, "error") %> prohibited this endocrine from being updated:</h2>
   
      <ul>
      <% @endocrine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= label_tag :hyperthyroidism %>
    <%= check_box_tag :hyperthyroidism, nil, @endocrine.hyperthyroidism %>
    <br>
    <%= label_tag :hypothyroidism %>
    <%= check_box_tag :hypothyroidism, nil, @endocrine.hypothyroidism %>
    <br>
    <%= label_tag :early_onset_pubic_hair %>
    <%= check_box_tag :early_onset_pubic_hair, nil, @endocrine.early_onset_pubic_hair %>
    <br>
    <%= label_tag :early_onset_puberty %>
    <%= check_box_tag :early_onset_puberty, nil, @endocrine.early_onset_puberty %>
    <br>
    <%= label_tag :growth_hormone_deficiency %>
    <%= check_box_tag :growth_hormone_deficiency, nil, @endocrine.growth_hormone_deficiency %>
    <br>
    <%= label_tag :calcium_deficiency %>
    <%= check_box_tag :calcium_deficiency, nil, @endocrine.calcium_deficiency %>
    <br>
    <%= label_tag :high_cortisol %>
    <%= check_box_tag :high_cortisol, nil, @endocrine.high_cortisol %>
    <br>
    <%= label_tag :diabetes %>
    <%= check_box_tag :diabetes, nil, @endocrine.diabetes %>
    <br>
    <%= label_tag :hypoglycemia %>
    <%= check_box_tag :hypoglycemia, nil, @endocrine.hypoglycemia %>
    <br>
    <%= label_tag :cushings_disease %>
    <%= check_box_tag :cushings_disease, nil, @endocrine.cushings_disease %>
    <br>
    <%= label_tag :vitamin_d_deficiency %>
    <%= check_box_tag :vitamin_d_deficiency, nil, @endocrine.vitamin_d_deficiency %>
    <br>
    <%= label_tag :anemia %>
    <%= check_box_tag :anemia, nil, @endocrine.anemia %>
    <br>
    <%= label_tag :failure_to_thrive %>
    <%= check_box_tag :failure_to_thrive, nil, @endocrine.failure_to_thrive %>
    <br>
    <%= label_tag :high_blood_pressure %>
    <%= check_box_tag :high_blood_pressure, nil, @endocrine.high_blood_pressure %>
    <br>
    <%= label_tag :low_blood_pressure %>
    <%= check_box_tag :low_blood_pressure, nil, @endocrine.low_blood_pressure %>
    <br>
    <%= label_tag :delayed_late_puberty %>
    <%= check_box_tag :delayed_late_puberty, nil, @endocrine.delayed_late_puberty %>
    <br>
    <%= label_tag :unsure %>
    <%= check_box_tag :unsure, nil, @endocrine.unsure %>
    <br>
    <%= label_tag :other_endocrine %>
    <%= text_field_tag :other_endocrine, @endocrine.other %>
    <br>
    <%= label_tag :high_blood_sugar %>
    <%= check_box_tag :high_blood_sugar, nil, @endocrine.high_blood_sugar %>
    <br>
    <%= label_tag :unhealthy_cholesterol_levels %>
    <%= check_box_tag :unhealthy_cholesterol_levels, nil, @endocrine.unhealthy_cholesterol_levels %>
    <br>
    <%= label_tag :increased_abdominal_fat %>
    <%= check_box_tag :increased_abdominal_fat, nil, @endocrine.increased_abdominal_fat %>
  </div>

  <h3>Hearing</h3>
    <% if @hearing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hearing.errors.count, "error") %> prohibited this hearing from being updated:</h2>
   
      <ul>
      <% @hearing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <h4>Did the participant pass the infant hearing test?</h4>
    <%= label_tag :yes %>
    <%= radio_button_tag :hearing_test, 'yes', (@health_history.hearing_test == 'yes') %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :hearing_test, 'no', (@health_history.hearing_test == 'no') %>
    <br>
    <%= label_tag 'n/a' %>
    <%= radio_button_tag :hearing_test, 'n/a', (@health_history.hearing_test == 'n/a') %>
    <h4>Has the participant had an ABR?</h4>
    <%= check_box_tag :had_an_abr, nil, @health_history.had_an_abr %>
    <h4>Has the participant ever had an diagnosis of hearing loss and/or deafness?</h4>
    <%= select_tag( :hearing_loss_or_deaf, options_for_select(hearing_diagnosis, @health_history.hearing_loss_or_deaf)) %>
    <h4>Which best describes the hearing loss? Mark all that apply:</h4>
    <%= label_tag :transient %>
    <%= check_box_tag :transient, nil, @hearing.transient %>
    <br>
    <%= label_tag :conductive %>
    <%= check_box_tag :conductive, nil, @hearing.conductive %>
    <br>
    <%= label_tag :nerve_loss %>
    <%= check_box_tag :nerve_loss, nil, @hearing.nerve_loss %>
    <br>
    <%= label_tag :unknown %>
    <%= check_box_tag :unknown, nil, @hearing.unknown %>
    <br>
    <%= label_tag :other_hearing %>
    <%= text_field_tag :other_hearing, @hearing.other %>
    <h4>Has the participant ever received treatment for hearing loss?</h4>
    <%= select_tag( :hearing_loss_treatment, options_for_select(hearing_treatments, @health_history.hearing_loss_treatment)) %>
  </div>

  <h3>Vision</h3>
    <% if @vision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vision.errors.count, "error") %> prohibited this vision from being updated:</h2>
   
      <ul>
      <% @vision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <h4>Has the participant ever failed an eye exam?</h4>
    <%= label_tag :yes %>
    <%= radio_button_tag :failed_eye_exam, 'yes', (@health_history.failed_eye_exam == 'yes') %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :failed_eye_exam, 'no', (@health_history.failed_eye_exam == 'no') %>
    <br>
    <%= label_tag 'n/a' %>
    <%= radio_button_tag :failed_eye_exam, 'n/a', (@health_history.failed_eye_exam == 'n/a') %>
    <h4>Has the participant ever experience or been diagnosed with the following? Mark all that apply:</h4>
    <%= label_tag :cataract %>
    <%= check_box_tag :cataract, nil, @vision.cataract %>
    <br>
    <%= label_tag :strabismus %>
    <%= check_box_tag :strabismus, nil, @vision.strabismus %>
    <br>
    <%= label_tag :lazy_eye %>
    <%= check_box_tag :lazy_eye, nil, @vision.lazy_eye %>
    <br>
    <%= label_tag :near_sighted %>
    <%= check_box_tag :near_sighted, nil, @vision.near_sighted %>
    <br>
    <%= label_tag :far_sighted %>
    <%= check_box_tag :far_sighted, nil, @vision.far_sighted %>
    <br>
    <%= label_tag :cvi %>
    <%= check_box_tag :cvi, nil, @vision.cvi %>
    <br>
    <%= label_tag 'astigmatism (blurry vision)' %>
    <%= check_box_tag :astigmatism, nil, @vision.astigmatism %>
    <br>
    <%= label_tag 'ptosis (droopy eyelid)' %>
    <%= check_box_tag :ptosis, nil, @vision.ptosis %>
    <br>
    <%= label_tag :blockage_of_tear_duct %>
    <%= check_box_tag :blockage_of_tear_duct, nil, @vision.blockage_of_tear_duct %>
    <br>
    <%= label_tag :depth_perception_problems %>
    <%= check_box_tag :depth_perception_problems, nil, @vision.depth_perception_problems %>
    <br>
    <%= label_tag :blindness %>
    <%= check_box_tag :blindness, nil, @vision.blindness %>
    <br>
    <%= label_tag :glaucoma %>
    <%= check_box_tag :glaucoma, nil, @vision.glaucoma %>
    <br>
    <%= label_tag :torn_retina %>
    <%= check_box_tag :torn_retina, nil, @vision.torn_retina %>
    <br>
    <%= label_tag :detached_retina %>
    <%= check_box_tag :detached_retina, nil, @vision.detached_retina %>
    <br>
    <%= label_tag :undeveloped_eyes %>
    <%= check_box_tag :undeveloped_eyes, nil, @vision.undeveloped_eyes %>
    <br>
    <%= label_tag :underdeveloped_eyes %>
    <%= check_box_tag :underdeveloped_eyes, nil, @vision.underdeveloped_eyes %>
    <br>
    <%= label_tag :undeveloped_eye_socket %>
    <%= check_box_tag :undeveloped_eye_socket, nil, @vision.undeveloped_eye_socket %>
    <br>
    <%= label_tag :underdeveloped_eye_socket %>
    <%= check_box_tag :underdeveloped_eye_socket, nil, @vision.underdeveloped_eye_socket %>
    <br>
    <%= label_tag :dry_eyes %>
    <%= check_box_tag :dry_eyes, nil, @vision.dry_eyes %>
    <br>
    <%= label_tag "Doesn't blink well" %>
    <%= check_box_tag :doesnt_blink_well, nil, @vision.doesnt_blink_well %>
    <br>
    <%= label_tag "Doesn't close eyes when sleeping" %>
    <%= check_box_tag :doesnt_close_eyes_when_sleeping, nil, @vision.doesnt_close_eyes_when_sleeping %>
  </div>
  <h3>Behavior</h3>
    <% if @behavioral_health.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@behavioral_health.errors.count, "error") %> prohibited this behavioral_health from being updated:</h2>
   
      <ul>
      <% @behavioral_health.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <h4>Has the participant ever been diagnosed with any of the following? Mark all that apply:</h4>
    <%= label_tag :add %>
    <%= check_box_tag :add, nil, @behavioral_health.add %>
    <br>
    <%= label_tag :adhd %>
    <%= check_box_tag :adhd, nil, @behavioral_health.adhd %>
    <br>
    <%= label_tag :bipolar %>
    <%= check_box_tag :bipolar, nil, @behavioral_health.bipolar %>
    <br>
    <%= label_tag :autism_spectrum %>
    <%= check_box_tag :autism_spectrum, nil, @behavioral_health.autism_spectrum%>
    <br>
    <%= label_tag :depression %>
    <%= check_box_tag :depression, nil, @behavioral_health.depression %>
    <br>
    <%= label_tag :anxiety_disorder%>
    <%= check_box_tag :anxiety_disorder, nil, @behavioral_health.anxiety_disorder %>
    <br>
    <%= label_tag :ocd %>
    <%= check_box_tag :ocd, nil, @behavioral_health.ocd %>
    <br>
    <%= label_tag :schizophrenia %>
    <%= check_box_tag :schizophrenia, nil, @behavioral_health.schizophrenia %>
    <br>
    <%= label_tag :addictions %>
    <%= check_box_tag :addictions, nil, @behavioral_health.addictions %>
    <br>
    <%= label_tag :personality_disorder %>
    <%= check_box_tag :personality_disorder, nil, @behavioral_health.personality_disorder %>
    <br>
    <%= label_tag :eating_disorder %>
    <%= check_box_tag :eating_disorder, nil, @behavioral_health.eating_disorder %>
    <br>
    <%= label_tag :odd %>
    <%= check_box_tag :odd, nil, @behavioral_health.odd %>
    <br>
    <%= label_tag :other_diagnosis %>
    <%= text_field_tag :other_diagnosis, @behavioral_health.other_diagnosis %>
  </div>
  <div>
    <h4>Does/did the participant have any of the following developmental delays? Mark all that apply:</h4>
    <%= label_tag :learning_disability %>
    <%= check_box_tag :learning_disability, nil, @behavioral_health.learning_disability %>
    <br>
    <%= label_tag :global_developmental_delay %>
    <%= check_box_tag :global_developmental_delay, nil, @behavioral_health.global_developmental_delay %>
    <br>
    <%= label_tag :intellectual_disability %>
    <%= check_box_tag :intellectual_disability, nil, @behavioral_health.intellectual_disability %>
    <br>
    <%= label_tag :speech_delay %>
    <%= check_box_tag :speech_delay, nil, @behavioral_health.speech_delay %>
    <br>
    <%= label_tag :receptive_delay %>
    <%= check_box_tag :receptive_delay, nil, @behavioral_health.receptive_delay %>
    <br>
    <%= label_tag :expressive_delay%>
    <%= check_box_tag :expressive_delay, nil, @behavioral_health.expressive_delay %>
    <br>
    <%= label_tag :auditory_processing_disorder %>
    <%= check_box_tag :auditory_processing_disorder, nil, @behavioral_health.auditory_processing_disorder %>
    <br>
    <%= label_tag 'apraxia/dyspraxia' %>
    <%= check_box_tag :apraxia_dyspraxia, nil, @behavioral_health.apraxia_dyspraxia %>
    <br>
    <%= label_tag :visual_processing %>
    <%= check_box_tag :visual_processing, nil, @behavioral_health.visual_processing %>
    <br>
    <%= label_tag :other_delay %>
    <%= text_field_tag :other_delay, @behavioral_health.other_delay %>
  </div>
  <h3>School/Therapies</h3>
    <% if @received_therapy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@received_therapy.errors.count, "error") %> prohibited this received_therapy from being updated:</h2>
   
      <ul>
      <% @received_therapy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <h4>Was/is the participant in EI?</h4>
    <%= label_tag :yes %>
    <%= radio_button_tag :in_ei, 'yes', (@health_history.in_ei == 'yes') %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :in_ei, 'no', (@health_history.in_ei == 'no') %>
    <br>
    <%= label_tag 'n/a' %>
    <%= radio_button_tag :in_ei, 'n/a', (@health_history.in_ei == 'n/a') %>
  </div>
  <div>
    <h4>Did/does the participant attend school?</h4>
    <%= check_box_tag :attend_school, nil, @health_history.attend_school %>
  </div>
  <div>
    <h4>Did/does the participant get home schooled or was/is homebound? </h4>
    <%= check_box_tag :home_schooled_bound, nil, @health_history.home_schooled_bound %>
  </div>
  <div>
    <h4>What is the participant's highest level of education completed?</h4>
    <%= select_tag( :highest_education, options_for_select(highest_education, @health_history.highest_education)) %>
  </div>
  <div>
    <h4>Has the participant ever received therapies? Mark all that apply:</h4>
    <%= label_tag 'ot (occupational)' %>
    <%= check_box_tag :ot, nil, @received_therapy.ot %>
    <br>
    <%= label_tag 'pt (physical)' %>
    <%= check_box_tag :pt, nil, @received_therapy.pt %>
    <br>
    <%= label_tag 'dt (developmental)' %>
    <%= check_box_tag :dt, nil, @received_therapy.dt %>
    <br>
    <%= label_tag 'st (speech)' %>
    <%= check_box_tag :st, nil, @received_therapy.st %>
    <br>
    <%= label_tag 'dtv (vision)' %>
    <%= check_box_tag :dtv, nil, @received_therapy.dtv %>
    <br>
    <%= label_tag 'dth (hearing)' %>
    <%= check_box_tag :dth, nil, @received_therapy.dth %>
    <br>
    <%= label_tag :vital_stim %>
    <%= check_box_tag :vital_stim, nil, @received_therapy.vital_stim %>
    <br>
    <%= label_tag :aquatic %>
    <%= check_box_tag :aquatic, nil, @received_therapy.aquatic %>
    <br>
    <%= label_tag :reflex_integration %>
    <%= check_box_tag :reflex_integration, nil, @received_therapy.reflex_integration%>
    <br>
    <%= label_tag 'hippotherapy/equine' %>
    <%= check_box_tag :hippotherapy_equine, nil, @received_therapy.hippotherapy_equine %>
    <br>
    <%= label_tag :hyperbaric %>
    <%= check_box_tag :hyperbaric, nil, @received_therapy.hyperbaric %>
    <br>
    <%= label_tag :other_therapy %>
    <%= text_field_tag :other_therapy, @received_therapy.other %>
  </div>
  <h3>Clinical Research and Trials</h3>
  <div>
    <h4>Is the living participant currently participating in clinical trials or research studies?</h4>
    <%= check_box_tag :clinical_trial, nil, @health_history.clinical_trial %>
  </div>
  <div>
    <h4>Is the living participant (or legal guardian of minor participant) interested in participating in upcoming trials?</h4>
    <%= check_box_tag :clinical_trial_participation, nil, @health_history.clinical_trial_participation %>
  </div>
  <div>
    <%= submit_tag %>
  </div>
<% end %>