<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Edit Profile</h1>
    <hr>
  <div class="buttons">
    <p>Update photo: </p>
    <%= form_for @child, url: "/profile/#{@child.id}/photo", html: { multipart: true } do |form| %>
        <%= form.file_field :avatar, :class => "form-group" %>
        <%= submit_tag nil, class: "btn btn-success", id: "image-submit"%>
    <% end %>
   </div>
<%= form_tag "/profile/#{@child.id}", method: :patch do %>
<h5 style="color:gray">Basic Info</h5>
  <div class="form-group">
    <%= label_tag :child_first_name, "First Name" %>
    <%= text_field_tag :first_name, @child.first_name, placeholder: 'First Name', class: "form-control"%>
  </div>
  <div class="form-group">
    <%= label_tag :child_first_name, "Last Name" %>
    <%= text_field_tag :last_name, @child.last_name, placeholder: 'Last Name', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :date_of_birth %>
    <%= date_field_tag :date_of_birth, (@child.birth_date && @child.birth_date.to_date) || '', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag 'Date of death (optional)' %>
    <%= date_field_tag :date_of_death, (@child.death_date && @child.death_date.to_date) || '', class: "form-control" %>
  </div>
  <hr>
  <h5 style="color:gray">Location</h5>
  <div class="form-group">
    <%= label_tag :state %>
    <%= select_tag(:state, options_for_select(us_states, "#{@child.state}"), class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag :city %>
    <%= text_field_tag :city, @child.city, class: "form-control" %>
  </div>
  <hr>
  <h5 style="color:gray">Trisomy</h5>
  <div class="form-group">
    <%= label_tag :trisomy_story %>
    <%= text_area_tag :trisomy_story, @child.trisomy_story, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :trisomy_type, "Type of Trisomy" %>
    <%= select_tag(:trisomy_type, options_for_select(trisomy_type, @child.trisomy_type)) %>
    <%#= select_tag(:trisomy_type, @child.trisomy_type) %>
  </div>

  <hr>
  <h5 style="color:gray">Privacy Settings</h5>
  <div class="form-group">
    <%= label_tag 'Profile Image:' %>
    <%= radio_button_tag :avatar, false, @privacy.avatar, :checked => (!@privacy.avatar) %> Public
    <%= radio_button_tag :avatar, true, @privacy.avatar, :checked => (@privacy.avatar) %> Private
  </div>
  <div class="form-group">
    <%= label_tag 'Address:' %>
    <%= radio_button_tag :location, false, @privacy.location, :checked => (!@privacy.location) %> Public
    <%= radio_button_tag :location, true, @privacy.location, :checked => (@privacy.location) %> Private
  </div>
  <div class="form-group">
    <%= label_tag 'Birthday:' %>
    <%= radio_button_tag :birthday, false, @privacy.birthday, :checked => (!@privacy.birthday) %> Public
    <%= radio_button_tag :birthday, true, @privacy.birthday, :checked => (@privacy.birthday) %> Private
  </div>
  <div class="form-group">
    <%= label_tag 'Trisomy Type:' %>
    <%= radio_button_tag :trisomy_type, false, @privacy.trisomy_type, :checked => (!@privacy.trisomy_type) %> Public
    <%= radio_button_tag :trisomy_type, true, @privacy.trisomy_type, :checked => (@privacy.trisomy_type) %> Private
  </div>
  <div class="form-group">
    <%= label_tag 'Story:' %>
    <%= radio_button_tag :story, false, @privacy.story, :checked => (!@privacy.story) %> Public
    <%= radio_button_tag :story, true, @privacy.story, :checked => (@privacy.story) %> Private
  </div>
  <%= submit_tag 'Save', class: "btn btn-success btn-lg btn-block" %>
  <% end %>
  <%= link_to 'Delete Profile',"/profile/#{@child.id}",method: :delete, data: {confirm: "Are you sure you want to delete this profile?"}, :class => "btn btn-danger btn-lg btn-block" %>
   <a class="btn btn-default btn-lg btn-block" href="/profile/<%= @child.id %>" role="button">Cancel</a>
</div>
