<% if @child.errors.any?%>
<div id="error_explanation" class="alert alert-danger" role="alert">
   <%= pluralize(@child.errors.count, "Error") %>
   <ul>
      <% @child.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="container">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <h1 class="text-center">Edit Child</h1>
         <%= form_for @child, url: {action: "update"} do |f| %>
         <h5 style="color:gray">Basic Info</h5>
         <div class="form-group">
            <%= f.label :child_first_name, "First Name" %>
            <%= f.text_field(:first_name, class: "form-control", placeholder: 'First Name') %>
         </div>
         <div class="form-group">
            <%= f.label :child_last_name, "Last Name" %>
            <%= f.text_field :last_name, class: "form-control", placeholder: 'Last Name' %>
         </div>
         <div class="form-group">
            <%= f.label :child_nickname, "Nickname" %>
            <%= f.text_field :nickname, class: "form-control" %>
         </div>
         <div class="form-group">
            <%= f.label :date_of_birth, "Date of Birth" %>
            <%= f.date_select :birth_date, class: "form-control" %>
         </div>
         <div class="form-group">
            <%= f.label :date_of_death, "Date of Death" %>
            <%= f.date_select :death_date, class: "form-control" %>
         </div>
         <div class="form-group">
            <%= f.label :child_birth_order %>
            <%= f.number_field :birth_order, in: 1..15, step: 1 , class: "form-control" %>
         </div>
         <div class="form-group">
            <%= f.label :avatar_file_name, "Update Photo" %>
            <%= f.file_field( :avatar_file_name) %>
         </div>
         <hr>
         <h5 style="color:gray">Trisomy</h5>
         <div class="form-group">
            <%= f.label :trisomy_type, "Type of Trisomy" %>
            <%= f.select "trisomy_type", options_for_select(trisomy_type, @child.trisomy_type) %>
         </div>
         <div class="form-group">
            <%= f.label :child_primary_diagnosis %>
            <%= f.select "primary_diagnosis", options_for_select(primary_trisomy_diagnosis, @child.primary_diagnosis) %>
         </div>
         <div class="form-group">
            <%= f.label :other_primary_diagnosis %>
            <%= f.text_field :other_primary_diagnosis %>
         </div>
         <div class="form-group">
            <%= f.label :trisomy_story, "Child Story" %>
            <%= f.text_area :trisomy_story, class: "form-control", row: "3" %>
         </div>
         <hr>
         <h5 style="color:gray">Privacy Settings</h5>
         <%= f.fields_for @privacy do |privacy_form| %>
         <div class="form-group">
            <%= privacy_form.label 'Profile Image:' %>
            <%= privacy_form.radio_button :avatar, false %> Public
            <%= privacy_form.radio_button :avatar, true %> Private
         </div>
         <div class="form-group">
            <%= privacy_form.label 'Birthday:' %>
            <%= privacy_form.radio_button :birthday, false %> Public
            <%= privacy_form.radio_button :birthday, true %> Private
         </div>
         <div class="form-group">
            <%= privacy_form.label 'Trisomy Type:' %>
            <%= privacy_form.radio_button :trisomy_type, false %> Public
            <%= privacy_form.radio_button :trisomy_type, true %> Private
         </div>
         <div class="form-group">
            <%= privacy_form.label 'Story:' %>
            <%= privacy_form.radio_button :story, false %> Public
            <%= privacy_form.radio_button :story, true %> Private
         </div>
         <div class="form-group">
            <%= privacy_form.label 'Address:' %>
            <%= privacy_form.radio_button :location, false %> Public
            <%= privacy_form.radio_button :location, true %> Private
         </div>
         <% end %>
         <div>
         </div>
         <%= submit_tag 'Update', class: "btn btn-success btn-lg btn-block"%>
         <%= link_to 'Delete Profile',"/profile/#{@child.id}",method: :delete, data: {confirm: "Are you sure you want to delete this profile?"}, :class => "btn btn-danger btn-lg btn-block" %>
         <a class="btn btn-default btn-lg btn-block" href="/profile/<%= @child.id %>" role="button">Cancel</a>
      </div>
      <!-- col-md-6 -->
   </div>
   <!-- row -->
</div>
<!-- container -->
<% end %>