<h1>Complete Profile</h1>

<%= form_tag '/profile', method: :post do %>
  <div>
    <%= label_tag :child_first_name, "Name of Child" %>
    <%= text_field_tag :first_name %> 
  </div>
    <div>
    <%= label_tag :child_last_name, "Name of Child" %>
    <%= text_field_tag :last_name %> 
  </div>
  <div>
    <%= label_tag :trisomy_type, "Type of Trisomy" %>
    <%= select_tag(:trisomy_type, "") %> 
  </div>

  <div>
    <%= label_tag :state %>
    <%= select_tag(:state, "") %>
  </div>
  <div>
    <%= label_tag :city %>
    <%= text_field_tag :city %>
  </div>
  <div>
    <%= label_tag :trisomy_story %>
    <%= text_area_tag :trisomy_story %>
  </div>
  <%= label_tag :image_of_child %>
  <div>
    <%= submit_tag %>
  </div>
<% end %>
