<h1>Complete Profile</h1>

<%= form_tag '/profile', method: :post do %>
  <div>
    <%= label_tag :child_first_name, "Name of Child" %>
    <%= text_field_tag :first_name, nil, placeholder: 'First Name' %>  <%= text_field_tag :last_name, nil, placeholder: 'Last Name' %> 
  </div>
  <div>
    <%= label_tag :trisomy_type, "Type of Trisomy" %>
    <%= select_tag(:trisomy_type, "ee") %> 
  </div>
  <div>
    <%= label_tag :date_of_birth %>
    <%= date_field_tag :date_of_birth%>
  </div>
  <div>
    <%= label_tag :date_of_death %>
    <%= date_field_tag :date_of_death %>
  </div>
  <div>
    <%= label_tag :state %>
    <%= select_tag(:state, options_for_select(us_states, "IL")) %>
  </div>
  <div>
    <%= label_tag :city %>
    <%= text_field_tag :city %>
  </div>
  <div>
    <%= label_tag :trisomy_story %>
    <%= text_area_tag :trisomy_story %>
  </div>
  <div>
    <%= label_tag 'Story is private:' %>
    <%= radio_button_tag :private, true %>Yes
    <%= radio_button_tag :private, false %>No
  </div> 
  <%= submit_tag %>
<% end %>
