<h1>Basic Registration for Participant</h1>

<%= form_tag "/profile/#{@child.id}/register", method: :post do %>
  <h3>Your Info:</h3>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being updated:</h2>
   
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div>
      <%= label_tag :first_name, "Your name:" %>
      <%= text_field_tag :user_first_name, @user.first_name, placeholder: 'First Name' %>  <%= text_field_tag :user_last_name, @user.last_name, placeholder: 'Last Name' %> 
    </div>
    <div>
      <%= label_tag :relationship, "Relationship to participant" %>
      <%= select_tag( :user_relationship, options_for_select(user_relationship, @user.relationship)) %> 
    </div>
    <div>
      <%= label_tag :city, "City" %>
      <%= text_field_tag :user_city, @user.city, placeholder: 'City', value: @user.city %>
    </div>
    <div>
      <%= label_tag :state, "State" %>
      <%= select_tag :user_state, options_for_select(us_states, @user.state) %>
    </div>
    <div>
      <%= label_tag :phone_number %>
      <%= text_field_tag :user_phone_number, @user.phone_number, value: @user.phone_number%>
    </div>
  <h3>Participant:</h3>
    <% if @child.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being updated:</h2>
     
        <ul>
        <% @child.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= label_tag :child_nickname %>
      <%= text_field_tag :child_nickname, @child.nickname %>
    </div>
    <div>
      <%= label_tag :child_birth_order %>
      <%= number_field_tag :child_birth_order, @child.birth_order, in: 1..15, step: 1 %>
    </div>
    <div>
      <%= label_tag :child_primary_diagnosis %>
      <%= select_tag( :child_primary_diagnosis, options_for_select(primary_trisomy_diagnosis, @child.primary_diagnosis)) %>
      <%= label_tag :other_primary_diagnosis %>
      <%= text_field_tag :other_primary_diagnosis, @child.other_primary_diagnosis %>
    </div>
    <div>
      <%= label_tag :child_secondary_diagnosis %>
      <%= select_tag( :child_secondary_diagnosis, options_for_select(secondary_trisomy_diagnosis, @child.secondary_diagnosis)) %>
      <%= label_tag :other_secondary_diagnosis %>
      <%= text_field_tag :other_secondary_diagnosis, @child.other_secondary_diagnosis %>
    </div>
    <div>
      <%= label_tag :child_other_chrom_affected %>
      <%= select_tag( :child_other_chrom_affected, options_for_select(trisomy_type, @child.other_chrom_affected)) %>
    </div>
    <div>
      <%= label_tag :child_mosaic_trisomy_percentage %>
      <%= number_field_tag :child_mosaic_trisomy_percentage, @child.mosaic_percentage, in: 0..100, step: 1 %>
    </div>
    <div>
      <%= label_tag :child_partial_trisomy %>
      <%= select_tag( :child_partial_trisomy, options_for_select(partial_trisomy, @child.partial_trisomy)) %>
    </div>
<%= submit_tag %>
<% end %>
