<h1>Basic Registration for Participant</h1>

<%= form_tag "/profile/#{@child.id}/register", method: :post do %>
  <h3>Your Info:</h3>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being updated:</h2>
   
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div>
      <%= label_tag :first_name, "Your name:" %>
      <%= text_field_tag :user_first_name, @user.first_name, placeholder: 'First Name' %>  <%= text_field_tag :user_last_name, @user.last_name, placeholder: 'Last Name' %> 
    </div>
    <div>
      <%= label_tag :relationship, "Relationship to participant" %>
      <%= select_tag( :user_relationship, options_for_select(user_relationship, @user.relationship)) %> 
    </div>
    <div>
      <%= label_tag :phone_number %>
      <%= text_field_tag :user_phone_number, @user.phone_number%>
    </div>
  <h3>Parent/Guardian 1:</h3>
    <% if @parent.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>
     
        <ul>
        <% @parent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= label_tag :parent_1_relationship %>
      <%= select_tag :parent_1_relationship, options_for_select(parents, @parent.relationship) %>
    </div>
    <div>
      <%= label_tag :parent_1_first_name %>
      <%= text_field_tag :parent_1_first_name, @parent.first_name %>
    </div>
    <div>
      <%= label_tag :parent_1_last_name %>
      <%= text_field_tag :parent_1_last_name, @parent.last_name %>
    </div>
    <div>
      <%= label_tag :parent_1_phone_number %>
      <%= text_field_tag :parent_1_phone_number, @parent.phone_number %>
    </div>
    <div>
      <%= label_tag :parent_1_state %>
      <%= select_tag(:parent_1_state, options_for_select(us_states, @parent.state)) %>
    </div>
    <div>
      <%= label_tag :parent_1_city %>
      <%= text_field_tag :parent_1_city, @parent.city %>
    </div>
    <div>
      <%= label_tag :parent_1_email %>
      <%= text_field_tag :parent_1_email, @parent.email %>
    </div>
  <h3>Parent/Guardian 2:</h3>
    <div>
      <%= label_tag :parent_2_relationship %>
      <%= select_tag :parent_2_relationship, options_for_select(parents, @parent.relationship_2) %>
    </div>
    <div>
      <%= label_tag :parent_2_first_name %>
      <%= text_field_tag :parent_2_first_name, @parent.first_name_2 %>
    </div>
    <div>
      <%= label_tag :parent_2_last_name %>
      <%= text_field_tag :parent_2_last_name, @parent.last_name_2 %>
    </div>
    <div>
      <%= label_tag :parent_2_phone_number %>
      <%= text_field_tag :parent_2_phone_number, @parent.phone_number_2 %>
    </div>
    <div>
      <%= label_tag :parent_2_state %>
      <%= select_tag(:parent_2_state, options_for_select(us_states, @parent.state_2)) %>
    </div>
    <div>
      <%= label_tag :parent_2_city %>
      <%= text_field_tag :parent_2_city, @parent.city_2 %>
    </div>
    <div>
      <%= label_tag :parent_2_email %>
      <%= text_field_tag :parent_2_email, @parent.email_2 %>
    </div>
  <h3>Participant:</h3>
    <% if @child.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being updated:</h2>
     
        <ul>
        <% @child.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= label_tag :child_nickname %>
      <%= text_field_tag :child_nickname, @child.nickname %>
    </div>
    <div>
      <%= label_tag :child_birth_order %>
      <%= number_field_tag :child_birth_order, @child.birth_order, in: 1..15, step: 1 %>
    </div>
    <div>
      <%= label_tag :child_primary_diagnosis %>
      <%= select_tag( :child_primary_diagnosis, options_for_select(primary_trisomy_diagnosis, @child.primary_diagnosis)) %>
      <%= label_tag :other_primary_diagnosis %>
      <%= text_field_tag :other_primary_diagnosis, @child.other_primary_diagnosis %>
    </div>
    <div>
      <%= label_tag :child_secondary_diagnosis %>
      <%= select_tag( :child_secondary_diagnosis, options_for_select(secondary_trisomy_diagnosis, @child.secondary_diagnosis)) %>
      <%= label_tag :other_secondary_diagnosis %>
      <%= text_field_tag :other_secondary_diagnosis, @child.other_secondary_diagnosis %>
    </div>
    <div>
      <%= label_tag :child_other_chrom_affected %>
      <%= select_tag( :child_other_chrom_affected, options_for_select(trisomy_type, @child.other_chrom_affected)) %>
    </div>
    <div>
      <%= label_tag :child_mosaic_trisomy_percentage %>
      <%= number_field_tag :child_mosaic_trisomy_percentage, @child.mosaic_percentage, in: 0..100, step: 1 %>
    </div>
    <div>
      <%= label_tag :child_partial_trisomy %>
      <%= select_tag( :child_partial_trisomy, options_for_select(partial_trisomy, @child.partial_trisomy)) %>
    </div>
<%= submit_tag %>
<% end %>
