<h3>Child:</h3>
<p>First name: <%= @child.first_name %></p>
<p>Last name: <%= @child.last_name %></p>
<p>Birth date: <%= @child.birth_date %></p>
<p>Death date: <%= @child.death_date %></p>
<p>Trisomy Story: <%= @child.trisomy_story %></p>
<p>Trisomy type: <%= @child.trisomy_type %></p>
<p>City: <%= @child.city %></p>
<p>state: <%= @child.state %></p>