<h3><%= @child.first_name + " " + @child.last_name %></h3>
<p>Birth date: <%= @child.birth_date %></p>
<p>Death date: <%= @child.death_date %></p>
<p>Trisomy Story: <%= @child.trisomy_story %></p>
<p>Trisomy type: <%= @child.trisomy_type %></p>
<p>City: <%= @child.city %></p>
<p>state: <%= @child.state %></p>

<%= form_for @child, url: "/profile/#{@child.id}/photo", html: { multipart: true } do |form| %>
  <%= form.file_field :avatar %>
  <%= label_tag 'Story is private:' %>
  <%= form.radio_button :private, true %> Yes
  <%= form.radio_button :private, false %> No
  <%= submit_tag %>
<% end %>

<%= image_tag @child.avatar.url %>

<div>
  <%= link_to 'Edit Profile',"/profile/#{@child.id}/edit" %><br>
  <%= link_to 'Delete Profile',"/profile/#{@child.id}",method: :delete, data: {confirm: "Are you sure you want to delete this profile?"} %><br>
  <%= link_to 'Register Profile',"/profile/#{@child.id}/register" %><br>
</div>

