<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Profile Picture</h4>
      </div>
      <div class="modal-body">
        <%= form_for @child, url: "/profile/#{@child.id}/photo", html: { multipart: true } do |form| %>
            <%= form.file_field :avatar_file_name, :class => "form-group"%>
      </div>
      <div class="modal-footer">
        <%= submit_tag nil, class: "btn btn-success"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<body class="w3-light-grey">
  <div class="page-header">
    <h1><%= @child.first_name + " " + @child.last_name%></h1>
  </div>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-card-4">
        <div class="w3-display-container">
          <div class="overlay-container overlay-visible">
            <% if @child.privacy.avatar == false %>
              <% if @child.avatar_file_name != 'https://trisomy-families.s3.amazonaws.com/qejRsVmtlbnpiVuXcrWi_11529854.png' %>
                <img src="<%= @child.avatar_file_name%>" alt="" id="pic">
              <% else %>
                <img src='https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg'>
              <% end %>
            <% elsif !@child.privacy.story || !@child.privacy.birthday || !@child.privacy.trisomy_type %>
              <img src='https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg'>          
            <% end %>
            <% if current_user.id == @child.user_id || current_user.user_type == 'admin' %>
              <a data-toggle="modal" data-target="#myModal" class="overlay-link" title="Change Picture"><i class="icon-plus-1"></i></a>
            <% end %>
          </div>
        </div>
        <% if @child.privacy.attributes.values[4..-3].any? {|value| value == false} %>
      </div>
      <div class="w3-white w3-card-4">
        <hr style="width: 0px;">
        <div class="w3-container">
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Basic Info</b></p>
          <hr style="width: 0px">
          <% if @child.privacy.birthday == false %>
            <% if @child.current_age < 12 && @child.current_age > 1 %>
              <label>Age</label><br> <%= @child.current_age %> months
              <p></p>
            <% elsif @child.current_age == 1 %>  
              <label>Age</label><br> <%= @child.current_age %> month
            <% elsif @child.current_age > 24 %>
              <label>Age</label><br> <%= @child.current_age / 12 %> years 
              <% if (@child.current_age % 12) > 1 %>
                <%= @child.current_age % 12 %> months
              <% elsif (@child.current_age % 12) == 1 %>
                <%= @child.current_age % 12 %> month
              <% end %>
              </p>
              <p></p>
            <% end %>
            <label>Date of Birth</label><br> <%= @child.birth_date.strftime("%b %d, %Y") %>
            <p></p>
          <% end %>
          <% if @child.privacy.location == false %>
            <label>Family Location</label><br><%= @family.street_address.split.map(&:capitalize).join(' ') %> <br><%= @family.city %>, <%= @family.state %>
            <p></p>
          <% end %>
          <% if @child.privacy.trisomy_type == false && @child.death_date %>
            <label>Trisomy Type</label><br> <%= @child.trisomy_type %>
            <hr>
            <label>Date of Death</label><br> <%= @child.death_date %>
            <p></p>
          <% elsif @child.privacy.trisomy_type == false  %>
            <label>Trisomy Type</label><br><%= @child.trisomy_type %>
            <p></p>
          <% end %>
          <% if @child.death_date %>
            <label>Death Date</label><br> <%= @child.death_date %>
            <p></p>
          <% end %>
          <br>
        </div>
        <% end %>
      </div><br>
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <% if @child.privacy.story == false %>
          <h2 class="w3-padding-16">My Story</h2>
          <div class="w3-container">  
            <p><%= @child.trisomy_story %></p>          
          </div>
        <% end %>
        <br>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

</body>
</html>
