<% if @family.errors.any?%>
<div id="error_explanation" class="alert alert-danger" role="alert">
   <%= pluralize(@family.errors.count, "Error") %>
   <ul>
      <% @family.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="container">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <h1 class="text-center">Edit</h1>
         <p class="text-center">Edit your family dashboard.</p>
         <hr>

         <%= form_for @family, url: {action: "update"}, html: { multipart: true } do |f| %>
         <h5 style="color:gray">Basic Info</h5>
         <div class="form-group">
            <%= f.label :family_name, "* Family Name" %>
            <%= f.text_field :family_name, :value => @family.family_name %>
         </div>
         <div>
            <h3>Upload a New Image</h3>
            <%= f.file_field :photo %>
         </div>
         <hr>
         <h5 style="color:gray">Location</h5>
         <div class="form-group">
            <%= f.label :story, "* Family Story" %>
            <%= f.text_area :story, cols: 75, :value => @family.story%>
         </div>         
         <div class="form-group">
            <%= f.label :city, '* City' %>
            <%= f.text_field :city, :value => @family.city%>
         </div>
         <div class="form-group">
            <%= f.label :state, 'State' %>
            <%= f.select("state", options_for_select(us_states, @family.state), class: "form-control") %>
         </div>
         <div class="form-group">
            <%= f.label :website, "Family Website" %>
            <%= f.text_field(:website, class: "form-control") %>
         </div>
         <hr>
         <div>
         </div>
         <%= submit_tag 'Update', class: "btn btn-success btn-lg btn-block"%>
      </div>
      <!-- col-md-6 -->
   </div>
   <!-- row -->
</div>
<!-- container -->
<% end %>