<h1>Stories</h1>
<hr>
<h1>Parents</h1>
<hr>
<h1>Participants</h1>
<div class="row">
<% @children.each do |child| %>
<div class="col-md-6">
<div class="media">
  <div class="media-left">
    <a href="profile/<%= child.id %>">
      <img class="media-object" src="<%= child.avatar_file_name %>" alt="<%= child.first_name %>" height="150" width="150">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= child.first_name %> <%= child.last_name %></h4>
    <br>
    <p><%= child.city %>, <%= child.state %></p>
    <p>Trisomy Type: <%= child.trisomy_type %></p>
  </div>
</div>
</div>
<% end %>
</div>
