<% if @family.errors.any?%>
<div id="error_explanation" class="alert alert-danger" role="alert">
   <%= pluralize(@child.errors.count, "Error") %>
   <ul>
      <% @family.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="container">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <h1 class="text-center">Add a Family</h1>
         <p class="text-center">Add a member to your family dashboard.</p>
         <hr>
         <%= form_for @family, url: {action: "create"} do |f| %>
         <h5 style="color:gray">Basic Info</h5>
         <div class="form-group">
            <%= f.label :family_name, "* Family Name" %>
            <%= f.text_field(:family_name, class: "form-control", placeholder: 'Family Name') %>
         </div>
         <hr>
         <h5 style="color:gray">Location</h5>
         <div class="form-group">
            <%= f.label :street_address, "* Street Address" %>
            <%= f.text_field(:street_address, class: "form-control")%>
         </div>         
         <div class="form-group">
            <%= f.label :city, '* City' %>
            <%= f.text_field(:city, class: "form-control")%>
         </div>
         <div class="form-group">
            <%= f.label :state, 'State' %>
            <%= f.select("state", options_for_select(us_states, @family.state), class: "form-control") %>
         </div>
         <hr>


         <div class="form-group">
            <%= f.label :story, "* Trisomy Story" %>
            <%= f.text_area( :story, class: "form-control", row: "3")%>
         </div>
         <!-- <hr>
         <h5 style="color:gray">Privacy Settings</h5>
         <%= f.fields_for :privacy do |privacy_form| %>
         <div class="form-group">
            <%= privacy_form.label 'Profile Image:' %>
            <%= privacy_form.radio_button(:avatar, false) %> Public
            <%= privacy_form.radio_button(:avatar, true) %> Private
         </div>
         <div class="form-group">
            <%= privacy_form.label 'Birthday:' %>
            <%= privacy_form.radio_button(:birthday, false) %> Public
            <%= privacy_form.radio_button(:birthday, true) %> Private
         </div>
         <div class="form-group">
            <%= privacy_form.label 'Trisomy Type:' %>
            <%= privacy_form.radio_button(:trisomy_type, false)%> Public
            <%= privacy_form.radio_button(:trisomy_type, true) %> Private
         </div>
         <div class="form-group">
            <%= privacy_form.label 'Story:' %>
            <%= privacy_form.radio_button(:story, false) %> Public
            <%= privacy_form.radio_button(:story, true) %> Private
         </div>
         <div class="form-group">
            <%= privacy_form.label 'Address:' %>
            <%= privacy_form.radio_button(:location, false) %> Public
            <%= privacy_form.radio_button(:location, true) %> Private
         </div>
         <% end %> -->
         <div>
         </div>
         <%= submit_tag 'Create', class: "btn btn-success btn-lg btn-block"%>
      </div>
      <!-- col-md-6 -->
   </div>
   <!-- row -->
</div>
<!-- container -->
<% end %>