<% if @family.errors.any?%>
<div id="error_explanation" class="alert alert-danger" role="alert">
   <%= pluralize(@child.errors.count, "Error") %>
   <ul>
      <% @family.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="container">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <h1 class="text-center">Add a Family</h1>
         <p class="text-center">Add a member to your family dashboard.</p>
         <hr>
         <%= form_for @family, url: {action: "create"}, html: { multipart: true } do |f| %>
         <h5 style="color:gray">Basic Info</h5>
         <div class="form-group">
            <%= f.label :family_name, "* Family Name" %>
            <%= f.text_field(:family_name, class: "form-control", placeholder: 'Family Name') %>
         </div>
         <div>
            <h3>Upload an Image</h3>
            <%= f.file_field :photo %>
         </div>
         <hr>
         <h5 style="color:gray">Location</h5>
         <div class="form-group">
            <%= f.label :street_address, "* Street Address" %>
            <%= f.text_field(:street_address, class: "form-control")%>
         </div>         
         <div class="form-group">
            <%= f.label :city, '* City' %>
            <%= f.text_field(:city, class: "form-control")%>
         </div>
         <div class="form-group">
            <%= f.label :state, 'State' %>
            <%= f.select("state", options_for_select(us_states, @family.state), class: "form-control") %>
         </div>
         <hr>

      <div class="form-group">
        <select class="form-control" id="searchQueryTrisomyType" ng-model="query.trisomy_type">
          <option value="">--What Trisomy Type is Your Family Affected By?--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
        </select>
      </div>


         <div class="form-group">
            <%= f.label :story, "* Trisomy Story" %>
            <%= f.text_area( :story, class: "form-control", row: "3")%>
         </div>
         <%= submit_tag 'Create', class: "btn btn-success btn-lg btn-block", id: "image-submit"%>
      </div>
      <!-- col-md-6 -->
   </div>
   <!-- row -->
</div>
<!-- container -->
<% end %>