<br>
<br>

<div class="well">
  <h1 style="text-align: center;">
    The <%= @family.family_name %> Family
  </h1>
  <br>
  <img src='<%=@family.photo%>'onerror="this.src='http://freevector.co/wp-content/uploads/2009/08/24029-profile-user-silhouette1.png'" style="height:400px; display: block; margin: auto;"></img>
  <br>
  <p>
    Address: <%= @family.street_address %>
  </p>
  <p>
    City: <%= @family.city %>
  </p>
  <p>
    State: <%= @family.state %>
  </p>
  <p>
    Website: <a ng-href="#{@family.website}"><%= @family.website %></a>
  </p>
  <p>
    Story: <%= @family.story %>
  </p>
  
  <% if current_user.id == @family.user_id %>
    <%= link_to "Edit", '/families/{{family.id}}/edit', class: "btn btn-info" %>
    <%= link_to 'Add Child', profile_new_path, class: "btn btn-success" %>
  <% end %>
  
</div>

<% if @children.count != 0 %>
  <h2>Children: </h2>
<% end %>

<% @children.each do |child| %>
  <div class="col-md-4">
    <div class="well">
      <p>
        Name: <a href='/profile/<%= child.id %>'><%= child.first_name %> <%= child.last_name %>
      </a></p>
      <% if !child.privacy.avatar %>
        <br>
        <% if child.avatar_file_name != 'https://trisomy-families.s3.amazonaws.com/qejRsVmtlbnpiVuXcrWi_11529854.png' %>
          <img src='<%= child.avatar_file_name %>' style="width:150px;height:150px; display: block; margin: auto;">
        <% else %>
          <img src='http://freevector.co/wp-content/uploads/2009/08/24029-profile-user-silhouette1.png' style="width:150px;height:150px; display: block; margin: auto;">
        <% end %>
        <br>
      <% else %>
        <img src='http://freevector.co/wp-content/uploads/2009/08/24029-profile-user-silhouette1.png' style="width:150px;height:150px; display: block; margin: auto;">
      <% end %>
      <% if child.nickname != nil %>
        <p>
          Nickname: <%= child.nickname %>
        </p>
      <% end %>
      <% if child.privacy.trisomy_type == false %>
        <p>
          Trisomy Type: <%= child.trisomy_type %>
        </p>
      <% end %>

    </div>
    
  </div>
<% end %>
