<% if @home_page_content.errors.any?%>
<div id="error_explanation" class="alert alert-danger" role="alert">
   <%= pluralize(@home_page_content.errors.count, "Error") %>
   <ul>
      <% @home_page_content.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="col-md-6 col-md-offset-3">
   <h1 class="text-center">Edit Home Page Content</h1>
   <%= form_for @home_page_content, url: {action: "update"} do |f| %>
      <h5 style="color:gray">Basic Info</h5>
      <div class="form-group">
         <%= f.label :banner_title, "Banner Title" %>
         <%= f.text_field :banner_title, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :banner_text, "Banner Text" %>
         <%= f.text_area :banner_text, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :banner_image, "Banner Image" %><span style="display:inline-block; width: 113px;"></span><%= check_box_tag "no_banner_image", checked_value = "n/a" %> N/A
         <%= f.file_field :banner_image  %>
      </div>
      <div class="form-group">
         <%= f.label :mission_title, "Mission Title" %>
         <%= f.text_field :mission_title, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :mission_sub_title, "Mission Sub Title" %>
         <%= f.text_field :mission_sub_title, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :mission_text, "Misson Text" %>
         <%= f.text_area :mission_text, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :create_profile_title, "Create Profile Title" %>
         <%= f.text_field :create_profile_title, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :create_profile_text, "Create Profile Text" %>
         <%= f.text_area :create_profile_text, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :create_profile_image1, "Create Profile Image 1" %><span style="display:inline-block; width: 60px;"></span><%= check_box_tag "no_profile_image_1", checked_value = "n/a" %> N/A
         <%= f.file_field :create_profile_image1  %>
      </div>
      <div class="form-group">
         <%= f.label :create_profile_image2, "Create Profile Image 2" %><span style="display:inline-block; width: 60px;"></span><%= check_box_tag "no_profile_image_2", checked_value = "n/a" %> N/A
         <%= f.file_field :create_profile_image2  %>
      </div>
      <div class="form-group">
         <%= f.label :create_profile_image3, "Create Profile Image 3" %><span style="display:inline-block; width: 60px;"></span><%= check_box_tag "no_profile_image_3", checked_value = "n/a" %> N/A
         <%= f.file_field :create_profile_image3  %>
      </div>
      <div class="form-group">
         <%= f.label :family_center_title, "Family Center Title" %>
         <%= f.text_field :family_center_title, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :family_center_text, "Family Center Text" %>
         <%= f.text_area :family_center_text, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :family_center_image, "Family Center Image" %><span style="display:inline-block; width: 60px;"></span><%= check_box_tag "no_family_center_image", checked_value = "n/a" %> N/A
         <%= f.file_field :family_center_image  %>
      </div>
      <div class="form-group">
         <%= f.label :data_center_title, "Data Center Title" %>
         <%= f.text_field :data_center_title, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :data_center_text, "Data Center Text" %>
         <%= f.text_area :data_center_text, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :data_center_image, "Data Center Image" %><span style="display:inline-block; width: 60px;"></span><%= check_box_tag "no_data_center_image", checked_value = "n/a" %> N/A
         <%= f.file_field :data_center_image  %>
      </div>
      <div class="form-group">
         <%= f.label :birthday_title, "Birthday Title" %>
         <%= f.text_field :birthday_title, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :birthday_text, "Birthday Text" %>
         <%= f.text_area :birthday_text, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :company_title, "Organization Name" %>
         <%= f.text_field :company_title, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :company_phone_number, "Organization Phone Number" %>
         <%= f.text_field :company_phone_number, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :company_address, "Organization: Street Address, City, State" %>
         <%= f.text_field :company_address, class: "form-control" %>
      </div>
      <%= submit_tag 'Update', class: "btn btn-success btn-lg btn-block"%>
   <% end %>
</div>