<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

  <!-- background image -->
  <!-- <div class="fullscreen-bg"></div> -->

  <!-- banner start -->
  <!-- ================ -->
  <div class="pv-40 dark-translucent-bg">
    <div class="container">
      <div class="object-non-visible text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <!-- logo -->
        <div id="logo" class="logo">
          <h3 class="margin-clear"><a href="/" class="logo-font link-light">Trisomy <span class="text-default">Families </span></a></h3>
        </div>
        <!-- name-and-slogan -->
        <br>
        <div class="form-block center-block p-30 light-gray-bg border-clear">
          <h2 class="title text-left">Forgot Your Password?</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal text-left"}) do |f| %>
          <!-- <form class="form-horizontal text-left"> -->
            <div class="form-group has-feedback">
              <!-- <label for="inputUserName" class="col-sm-3 control-label">User Name</label> -->
              <%= f.label :email, 'Email', class: 'col-sm-3 control-label', for: 'inputEmail'%>
              <div class="col-sm-8">
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email', required: true, id: 'inputEmail' %>
                <!-- <input type="text" class="form-control" id="inputUserName" placeholder="User Name" required> -->
                <i class="fa fa-envelope form-control-feedback"></i>
              </div>
            <div class="col-sm-offset-3 col-sm-8">
              <div class="actions">
              <%= f.submit "Send me reset password instructions", class: "btn btn-group btn-default" %>
                <ul class="space-top">
                  <%= render "devise/shared/links" %>
                  <!-- <li><a href="#">Forgot your password?</a></li> -->
                </ul>
                <!-- <span class="text-muted">Login with</span>
                <ul class="social-links colored circle clearfix">
                  <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                  <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                </ul> -->
              </div>
            </div>
            </div>
          <% end %>
          <!-- </form> -->
          <!-- <p>Don't have an account yet?  -->
          <!-- <%= render "devise/shared/links" %> -->
            <!-- <a href="/users/sign_up">Sign up</a> now.</p> -->
        </div>
        <!-- .subfooter start -->
        <!-- ================ -->
        <p class="mt-20">Copyright © 2017 Trisomy Association. All Rights Reserved</p>
        <!-- .subfooter end -->
      </div>
    </div>
  </div>
</div>


<!-- <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
