<h2>Edit Background History</h2>
  <% if @background_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@background_history.errors.count, "error") %> prohibited this background_history from being updated:</h2>
   
      <ul>
      <% @background_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_tag "/registrations/background_history/#{@background_history.id}", method: :patch do %>
  <h3>Participant Measurements:</h3>
  <div class="well">
    <h4>Weights:</h4>
    <hr>
    <% if @weight.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@weight.errors.count, "error") %> prohibited this height from being updated:</h2>
     
        <ul>
        <% @weight.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= label_tag :weight_at_birth, "At Birth" %>:
      <%= number_field_tag(:weight_at_birth, @background_history.weight_at_birth, in: 1.0..20, step: 0.5, required: true)  %> 
    </div>
    <p></p> 
    <% if @child.current_age < 11 || @child.current_age >= 12 %>
      <% i = 0 %>
      <% if @child.current_age <= 6 %>
        <% while i < @child.current_age do %>
          <% numbers = ['one', 'two', 'three', 'four', 'five', 'six'] %>
          <% months = ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth'] %>
          
          <div>
            <%= label_tag months[i]+'_month' %>:
            <% key_name = (numbers[i]+'_month').to_sym %>
            <%= number_field_tag(key_name, @weight.send(key_name), in: 10..30, step: 0.5, required: true)  %> 
          </div>
          <p></p> 
          <% i += 1 %>
        <% end %>
      <% else %>
        <% while i < 6 do %>
          <% numbers = ['one', 'two', 'three', 'four', 'five', 'six'] %>
          <% months = ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth'] %>
          
          <div>
            <%= label_tag months[i]+'_month' %>:
            <% key_name = (numbers[i]+'_month').to_sym %>
            <%= number_field_tag(key_name, @weight.send(key_name), in: 10..30, step: 0.5, required: true)  %> 
          </div>
          <p></p> 
          <% i += 1 %>
        <% end %>
      <% end %>
    <% end %>
    <% if @child.current_age >= 12 %>
      <div>
        <%= label_tag :first_year %>:
        <%= number_field_tag(:one_year, @weight.one_year, in: 1.0..20, step: 0.5, required: true)  %> 
      </div>
      <p></p> 
    <% end %>

    <% if @child.current_age >= 18 %>
      <div>
        <%= label_tag :eighteenth_month %>:
        <%= number_field_tag(:eighteen_month, @weight.eighteen_month, in: 1.0..20, step: 0.5, required: true)  %> 
      </div>
      <p></p> 
    <% end %>

    <% if @child.current_age > 18 %>
      <% k = 0 %>
      <% age = @child.current_age / 12 %>
      <% while k < (age - 1) do %>
        <% string_year = ['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen', 'twenty', 'twentyone', 'twentytwo', 'twentythree', 'twentyfour', 'twentyfive', 'twentysix', 'twentyseven', 'twentyeight', 'twentynine', 'thirty', 'thirtyone', 'thirtytwo', 'thirtythree', 'thirtyfour', 'thirtyfive', 'thirtysix', 'thirtyseven', 'thirtyeight', 'thirtynine', 'forty'] %>
        <% years = ['Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh', 'Eighth', 'Ninth', 'Tenth', 'Eleventh', 'Twelfth', 'Thirteenth', 'Fourteenth', 'Fifteenth', 'Sixteenth', 'Seventeenth', 'Eighteenth', 'Nineteenth', 'Twentieth', 'Twenty-First', 'Twenty-Second', 'Twenty-Third', 'Twenty-Fourth', 'Twenty-Fifth', 'Twenty-Sixth', 'Twenty-Seventh', 'Twenty-Eighth', 'Twenty-Ninth', 'Thirtieth', 'Thirty-First', 'Thirty-Second', 'Thirty-Third', 'Thirty-Fourth', 'Thirty-Fifth', 'Thirty-Sixth', 'Thirty-Seventh', 'Thirty-Eighth', 'Thirty-Ninth', 'Fortieth'] %>
        
        <div>
          <%= label_tag years[k]+'_year' %>:
          <% key_name = (string_year[k]+'_year').to_sym %>
          <%= number_field_tag(key_name, @weight.send(key_name), in: 1.0..20, step: 0.5, required: true)  %> 
        </div>
        <p></p> 
        <% k += 1 %>
      <% end %>
    <% end %>
  </div>
  <div class="well">
    <h4>Heights:</h4>
    <hr>
    <% if @height.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@height.errors.count, "error") %> prohibited this height from being updated:</h2>
     
        <ul>
        <% @height.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= label_tag :height_at_birth, "At Birth" %>:
    <%= number_field_tag(:height_at_birth, @background_history.height_at_birth, in: 10.0..30, step: 0.5, required: true)  %> 
    <p></p> 
    <% if @child.current_age < 11 || @child.current_age >= 12 %>
      <% i = 0 %>
      <% if @child.current_age <= 6 %>
        <% while i < @child.current_age do %>
          <% numbers = ['one', 'two', 'three', 'four', 'five', 'six'] %>
          <% months = ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth'] %>
          
          <div>
            <%= label_tag months[i]+'_month' %>:
            <% value_name = (numbers[i]+'_month').to_sym %>
            <% key_name = ('height_'+numbers[i]+'_month').to_sym %>
            <%= number_field_tag(key_name, @height.send(value_name), in: 10..30, step: 0.5, required: true)  %> 
          </div>
          <p></p> 
          <% i += 1 %>
        <% end %>
      <% else %>
        <% while i < 6 do %>
          <% numbers = ['one', 'two', 'three', 'four', 'five', 'six'] %>
          <% months = ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth'] %>
          <div>
            <%= label_tag months[i]+'_month' %>:
            <% value_name = (numbers[i]+'_month').to_sym %>
            <% key_name = ('height_'+numbers[i]+'_month').to_sym %>
            <%= number_field_tag(key_name, @height.send(value_name), in: 10..30, step: 0.5, required: true)  %> 
          </div>
          <p></p> 
          <% i += 1 %>
        <% end %>
      <% end %>   
    <% end %>
    <% if @child.current_age >= 12 %>
      <div>
        <%= label_tag :first_year %>:
        <%= number_field_tag(:height_one_year, @height.one_year, in: 10..30, step: 0.5, required: true)  %> 
      </div>
      <p></p> 
    <% end %>

    <% if @child.current_age >= 18 %>
      <div>
        <%= label_tag :eighteenth_month %>:
        <%= number_field_tag(:height_eighteen_month, @height.eighteen_month, in: 10..30, step: 0.5, required: true)  %> 
      </div>
      <p></p> 
    <% end %>

    <% if @child.current_age > 18 %>
      <% k = 0 %>
      <% age = @child.current_age / 12 %>
      <% while k < (age - 1) do %>
        <% string_year = ['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen', 'twenty', 'twentyone', 'twentytwo', 'twentythree', 'twentyfour', 'twentyfive', 'twentysix', 'twentyseven', 'twentyeight', 'twentynine', 'thirty', 'thirtyone', 'thirtytwo', 'thirtythree', 'thirtyfour', 'thirtyfive', 'thirtysix', 'thirtyseven', 'thirtyeight', 'thirtynine', 'forty'] %>
        <% years = ['Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh', 'Eighth', 'Ninth', 'Tenth', 'Eleventh', 'Twelfth', 'Thirteenth', 'Fourteenth', 'Fifteenth', 'Sixteenth', 'Seventeenth', 'Eighteenth', 'Nineteenth', 'Twentieth', 'Twenty-First', 'Twenty-Second', 'Twenty-Third', 'Twenty-Fourth', 'Twenty-Fifth', 'Twenty-Sixth', 'Twenty-Seventh', 'Twenty-Eighth', 'Twenty-Ninth', 'Thirtieth', 'Thirty-First', 'Thirty-Second', 'Thirty-Third', 'Thirty-Fourth', 'Thirty-Fifth', 'Thirty-Sixth', 'Thirty-Seventh', 'Thirty-Eighth', 'Thirty-Ninth', 'Fortieth'] %>
        <div>
          <%= label_tag years[k]+'_year' %>:
          <% value_name = (string_year[k]+'_year').to_sym %>
          <% key_name = ('height_'+string_year[k]+'_year').to_sym %>
          <%= number_field_tag(key_name, @height.send(value_name), in: 10..30, step: 0.5, required: true)  %> 
        </div>
        <p></p> 
        <% k += 1 %>
      <% end %>
    <% end %>
  </div>
  <div class="well">
    <h4>Head Circumferences:</h4>
    <hr>
      <% if @head_circumference.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@head_circumference.errors.count, "error") %> prohibited this head_circumference from being updated:</h2>
        <ul>
          <% @head_circumference.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>      
      <%= label_tag :head_circumference_at_birth, "At Birth" %>:
      <%= number_field_tag(:head_circumference_at_birth, @background_history.head_circumference_at_birth, in: 10.0..30, step: 0.5, required: true)  %>
      <p></p>  
      <% if @child.current_age < 11 || @child.current_age >= 12 %>
        <% i = 0 %>
        <% if @child.current_age <= 6 %>
          <% while i < @child.current_age do %>
            <% numbers = ['one', 'two', 'three', 'four', 'five', 'six'] %>
            <% months = ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth'] %>
            
            <div>
              <%= label_tag months[i]+'_month' %>:
              <% value_name = (numbers[i]+'_month').to_sym %>
              <% key_name = ('hc_'+numbers[i]+'_month').to_sym %>
              <%= number_field_tag(key_name, @head_circumference.send(value_name), in: 10..30, step: 0.5, required: true)  %> 
            </div>
            <p></p> 
            <% i += 1 %>
          <% end %>
        <% else %>
          <% while i < 6 do %>
            <% numbers = ['one', 'two', 'three', 'four', 'five', 'six'] %>
            <% months = ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth'] %>
            
            <div>
              <%= label_tag months[i]+'_month' %>:
              <% value_name = (numbers[i]+'_month').to_sym %>
              <% key_name = ('hc_'+numbers[i]+'_month').to_sym %>
              <%= number_field_tag(key_name, @head_circumference.send(value_name), in: 10..30, step: 0.5, required: true)  %> 
            </div>
            <p></p> 
            <% i += 1 %>
          <% end %>
        <% end %>
      <% end %>
      <% if @child.current_age >= 12 %>
        <div>
          <%= label_tag :first_year %>:
          <%= number_field_tag(:hc_one_year, @head_circumference.one_year, in: 10..20, step: 0.5, required: true)  %> 
        </div>
        <p></p> 
      <% end %>

      <% if @child.current_age >= 18 %>
        <div>
          <%= label_tag :eighteenth_month %>:
          <%= number_field_tag(:hc_eighteen_month, @head_circumference.eighteen_month, in: 10..20, step: 0.5, required: true)  %> 
        </div>
        <p></p> 
      <% end %>

      <% if @child.current_age > 18 %>
        <% k = 0 %>
        <% age = @child.current_age / 12 %>
        <% while k < (age - 1) do %>
          <% string_year = ['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen', 'twenty', 'twentyone', 'twentytwo', 'twentythree', 'twentyfour', 'twentyfive', 'twentysix', 'twentyseven', 'twentyeight', 'twentynine', 'thirty', 'thirtyone', 'thirtytwo', 'thirtythree', 'thirtyfour', 'thirtyfive', 'thirtysix', 'thirtyseven', 'thirtyeight', 'thirtynine', 'forty'] %>
          <% years = ['Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh', 'Eighth', 'Ninth', 'Tenth', 'Eleventh', 'Twelfth', 'Thirteenth', 'Fourteenth', 'Fifteenth', 'Sixteenth', 'Seventeenth', 'Eighteenth', 'Nineteenth', 'Twentieth', 'Twenty-First', 'Twenty-Second', 'Twenty-Third', 'Twenty-Fourth', 'Twenty-Fifth', 'Twenty-Sixth', 'Twenty-Seventh', 'Twenty-Eighth', 'Twenty-Ninth', 'Thirtieth', 'Thirty-First', 'Thirty-Second', 'Thirty-Third', 'Thirty-Fourth', 'Thirty-Fifth', 'Thirty-Sixth', 'Thirty-Seventh', 'Thirty-Eighth', 'Thirty-Ninth', 'Fortieth'] %>
          <div>
            <%= label_tag years[k]+'_year' %>:
            <% value_name = (string_year[k]+'_year').to_sym %>
            <% key_name = ('hc_'+string_year[k]+'_year').to_sym %>
            <%= number_field_tag(key_name, @head_circumference.send(value_name), in: 10..20, step: 0.5, required: true)  %> 
          </div>
          <p></p> 
          <% k += 1 %>
        <% end %>
      <% end %>
  </div>
  <hr>
  <h3>Birth Information:</h3>
  <div class="well">
    <h4>Mother Complications? Mark all that apply:</h4>
    <hr>
    <div>
      <%= label_tag :gestational_diabetes %>
      <%= check_box_tag :gestational_diabetes, nil, @mother_complications.gestational_diabetes %>
      <p></p>
      <%= label_tag 'pre-eclampsia' %>
      <%= check_box_tag :preeclampsia, nil, @mother_complications.preeclampsia %>
      <p></p>
      <%= label_tag :clampsia %>
      <%= check_box_tag :clampsia, nil, @mother_complications.clampsia %>
      <p></p>
      <%= label_tag :rh_factor %>
      <%= check_box_tag :rh_factor, nil, @mother_complications.rh_factor %>
      <p></p>
      <%= label_tag :separated_placenta %>
      <%= check_box_tag :separated_placenta, nil, @mother_complications.separated_placenta %>
      <p></p>
      <%= label_tag :unsure %>
      <%= check_box_tag :unsure, nil, @mother_complications.unsure %>
      <p></p>
      <%= label_tag :extra_fluid %>
      <%= check_box_tag :extra_fluid, nil, @mother_complications.extra_fluid %>
      <p></p>
      <%= label_tag :other_complications %>
      <%= text_field_tag :other_complications, @mother_complications.other %>
    </div>
  </div>
  <p></p> 
  <div class="well">
    <h4><%= label_tag 'Delivery method', "Delivery Method?" %></h4>
    <hr>
    <%= select_tag( :delivery_method, options_for_select(delivery_method, @background_history.delivery_method), prompt: "-", required: true) %>
  </div>
  <p></p> 
  <div class="well">
    <h4>Offered A C-section?</h4>
    <hr>
    <%= label_tag :yes %>
    <%= radio_button_tag :offered_c_section, 'yes', (@background_history.offered_c_section == 'yes') %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :offered_c_section, 'no', (@background_history.offered_c_section == 'no') %>
    <br>
    <%= label_tag :unsure %>
    <%= radio_button_tag :offered_c_section, 'unsure', (@background_history.offered_c_section == 'unsure') %>
  </div>
  <p></p> 
  <div class="well">
    <h4>Did the child have complications at birth?</h4>
    <hr>
    <%= label_tag :yes %>
    <%= radio_button_tag :child_complication, 'yes', (@background_history.child_complication == 'yes') %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :child_complication, 'no', (@background_history.child_complication == 'no') %>
    <br>
    <%= label_tag :unsure %>
    <%= radio_button_tag :child_complication, 'unsure', (@background_history.child_complication == 'unsure') %>
  </div>
  <p></p> 
  <div class="well">
    <%= label_tag :apgar_score %>
    <%= text_field_tag :apgar_score, @background_history.apgar_score %>
    <p></p> 
    <%= label_tag :gestation_age %>
    <%= number_field_tag :gestation_age, @background_history.gestation_age, in: 0..50, step: 1 %>
    <p></p> 
    <%= label_tag :mother_age_at_birth %>
    <%= number_field_tag :mother_age_at_birth, @background_history.mother_age_at_birth, in: 14..50, step: 1 %>
    <p></p> 
    <%= label_tag :father_age_at_birth %>
    <%= number_field_tag :father_age_at_birth, @background_history.father_age_at_birth, in: 14..50, step: 1 %>
  </div>
  <div class="well">
    <h4><%= label_tag :multiple_birth, "Multiple Birth?" %></h4>
    <hr>
    <%= label_tag :yes %>
    <%= radio_button_tag :multiple_birth, true, (@background_history.multiple_birth == true) %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :multiple_birth, false, (@background_history.multiple_birth == false) %>
  </div>
  <div class="well">
    <h4><%= label_tag :multiple_birth_trisomy, "Multiple Birth Trisomy?" %></h4>
    <hr>
    <%= label_tag :yes %>
    <%= radio_button_tag :multiple_birth_trisomy, true, (@background_history.multiple_birth_trisomy == true) %>
    <br>
    <%= label_tag :no %>
    <%= radio_button_tag :multiple_birth_trisomy, false, (@background_history.multiple_birth_trisomy == false) %>
  </div>
  <hr>
  <h3>Participant Genetic History</h3>
  <div class="well">       
      <h4><%= label_tag :siblings_with_trisomy, "Siblings With Trisomy?" %></h4>
      <hr>
      <%= label_tag :yes %>
      <%= radio_button_tag :siblings_with_trisomy, true, (@background_history.siblings_with_trisomy == true) %>
      <br>
      <%= label_tag :no %>
      <%= radio_button_tag :siblings_with_trisomy, false, (@background_history.siblings_with_trisomy == false) %>
    </div>
    <div class="well">
      <h4><%= label_tag :trisomy_relative, "Relatives With Trisomy?" %></h4>
      <hr>
      <%= label_tag :yes %>
      <%= radio_button_tag :trisomy_relative, true, (@background_history.trisomy_relative == true) %>
      <br>
      <%= label_tag :no %>
      <%= radio_button_tag :trisomy_relative, false, (@background_history.trisomy_relative == false) %>
    </div>
  <hr>
  <%= submit_tag 'Submit Changes', class: "btn btn-primary"%>
<% end %>