<br>
<% if @physician.errors.any?%>
<div id="error_explanation" class="alert alert-danger" role="alert">
   <%= pluralize(@physician.errors.count, "Error") %>
   <ul>
      <% @physician.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="container">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <h1 class="text-center">Edit Physician Profile</h1>
         <hr style="width: 0px">
         <%= form_for @physician, url: {action: "update"} do |f| %>
         <h5 style="color:gray">Personal Info</h5>
         <br>
         <div class="form-group">
            <span class="required">* </span><%= f.label :first_name, "First Name" %>
            <%= f.text_field(:first_name, class: "form-control", value: @physician.first_name) %>
         </div>
         <div class="form-group">
            <span class="required">* </span><%= f.label :first_name, "Last Name" %>
            <%= f.text_field(:last_name, class: "form-control", value: @physician.last_name) %>
         </div>
         <div class="form-group">
            <%= f.label :personal_number, "Phone Number" %>
            <%= f.text_field(:personal_number, class: "form-control") %>
            <br>
            <%= f.radio_button(:primary_phone_public, true) %> Public
            <%= f.radio_button(:primary_phone_public, false) %> Private
         </div>
         <hr style="width: 0px">
         <hr>
         <hr style="width: 0px">
         <h5 style="color:gray">Practice Info</h5>
         <br>
         <div class="form-group">
            <span class="required">* </span><%= f.label :address, "Address" %>
            <%= f.text_field(:address, class: "form-control")%>

         </div>

         <div class="form-group">
            <span class="required">* </span>Office Phone Number
            <%= f.text_field(:phone_number, class: "form-control") %>
         </div>
         <br>
         <div class="form-group">
         <span class="required">* </span><%= f.label :state, "State" %>
            <%= f.select("state", options_for_select(us_states, @physician.state), class: "form-control") %>
         </div>
         <br>
         <div class="form-group">
            <span class="required">* </span><%= f.label :city, 'City' %>
            <%= f.text_field(:city, class: "form-control")%>
         </div>
         <div class="form-group">
            <span class="required">* </span><%= f.label :zip_code, 'Zip Code' %>
            <%= f.text_field(:zip_code, class: "form-control")%>
         </div>
         <div class="form-group">
            <%= f.label :website, 'Website' %>
            <%= f.text_field(:website, class: "form-control")%>
         </div>
         <div class="form-group">
            <span class="required">* </span><%= f.label :specialty, 'Specialty' %>
            <%= f.text_field(:specialty, class: "form-control")%>
         </div>
         <br>
         <%= submit_tag 'Update', class: "btn btn-success btn-lg btn-block"%>
      <% end %>
      </div>
      <!-- col-md-6 -->
   </div>
   <!-- row -->
</div>
<!-- container -->
