<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Profile Picture</h4>
      </div>
      <div class="modal-body">
              <%= form_for @physician, url: "/physicians/#{@physician.id}/photo", html: { multipart: true } do |form| %>
                  <%= form.file_field :avatar, :class => "form-group"%>
      </div>
      <div class="modal-footer">
        <%= submit_tag nil, class: "btn btn-success"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<body class="w3-light-grey">
  <div class="page-header">
    <h1><%= @physician.first_name + " " + @physician.last_name%></h1>
  </div>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-card-4">
        <div class="w3-display-container">
          <div class="overlay-container overlay-visible">
            <% if @physician.avatar_file_name %>
              <img src="<%= @physician.avatar_file_name%>" alt="" id="pic">
            <% else %>
              <img src='https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg' alt="">
            <% end %> 
            <% if current_user.id == @physician.user_id || current_user.user_type == 'admin' %>
              <a data-toggle="modal" data-target="#myModal" class="overlay-link" title="Change Picture"><i class="icon-plus-1"></i></a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="w3-white w3-card-4">
      <hr style="width: 0px;">
        <div class="w3-container">
          <h3>Contact Me</h3>
          <div class="w3-container">  
            <ul class="list-icons">
              <li><i class="fa fa-phone pr-10 text-default"></i>(<%= @physician.phone_number[0,3] %>) <%= @physician.phone_number[3,3] %>-<%= @physician.phone_number[6..-1] %></li>
            <% if @physician.primary_phone_public == true %>
              <li><i class="fa fa-mobile pr-10 text-default"></i>(<%= @physician.personal_number[0,3] %>) <%= @physician.personal_number[3,3] %>-<%= @physician.personal_number[6..-1] %></li>
            <% end %>
              <li><a href="mailto:<%= current_user.email %>"><i class="fa fa-envelope-o pr-10"></i><%= current_user.email %></a></li>
            </ul>
            <br>
          </div>
        </div>
      </div><br>
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h3 class="w3-padding-16">Specialty</h3>
        <div class="w3-container">  
          <%= @physician.specialty.capitalize %>
        </div>
        <br>
        <h3>Address</h3>
        <div class="w3-container">  
          <%= @physician.address.split.map(&:capitalize).join(' ') %> <br><%= @physician.city %>, <%= @physician.state %> <%= @physician.zip_code %>
        </div>
        <br>
      </div>
      <% if current_user.id == @physician.user_id || current_user.user_type == 'admin' %>
        <%= link_to 'Edit Profile',"/physicians/#{@physician.id}/edit", :class => "btn btn-default", :style => "background-color: red; border: red;" %>
      <% end %>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

</body>
</html>