
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Profile Picture</h4>
      </div>
      <div class="modal-body">
              <%= form_for @physician, url: "/physicians/#{@physician.id}/photo", html: { multipart: true } do |form| %>
                  <%= form.file_field :avatar, :class => "form-group" %>
      </div>
      <div class="modal-footer">
        <%= submit_tag nil, class: "btn btn-success"%>
      </div>
      <% end %>
    </div>
  </div>
</div>

<h1 style="text-align: center;">Physician Page</h1>

<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title"></i></h1>
        <div class="separator-2"></div>
        <!-- page-title end -->
        <div class="row">
          <div class="col-sm-4">
            <div class="image-box team-member shadow mb-20">
              <div class="overlay-container overlay-visible">
<<<<<<< HEAD
                <img src="<%= @physician.avatar_file_name %>" alt="">
=======
                <% if @physician.avatar_file_name %>
                  <img src="<%= @physician.avatar_file_name%>" alt="">
                <% else %>
                  <img src="https://thebenclark.files.wordpress.com/2014/03/facebook-default-no-profile-pic.jpg" alt="">
                <% end %> 
>>>>>>> qa
                <% if current_user.id == @physician.user_id || current_user.user_type == 'admin' %>
                  <a data-toggle="modal" data-target="#myModal" class="overlay-link" title="Change Picture"><i class="icon-plus-1"></i></a>
                <% end %>
                <div class="overlay-bottom">
                  <div class="text">
                    <h3 class="title margin-clear"><i><%= @physician.first_name %> <%= @physician.last_name %></h3>
                  </div>
                </div>
              </div>
            </div>
            <% if current_user.id == @physician.user_id || current_user.user_type == 'admin' %>
              <div>
                <%= link_to 'Edit Profile',"/physicians/#{@physician.id}/edit", :class => "btn btn-default", :style => "background-color: red; border: red;" %><br>
              </div>
            <% end %>
          </div>
          <div class="col-lg-4 col-sm-5">
            <h2>Address: <br> <i><%= @physician.address %>,<br> <%= @physician.city %>, <%= @physician.state %>, <%= @physician.zip_code %></i></h2>
            <h2>Specialty: <i><%= @physician.specialty %> </i></h2>
            <h2>Website: </h2><i><a href = '<%= @physician.website %>'><%= @physician.website %></a></i>
          </div>
          <div class="col-sm-3 col-lg-offset-1">
            <h3 class="title">Contact Me</h3>
            <ul class="list-icons">
              <li><i class="fa fa-phone pr-10 text-default"></i> <%= @physician.phone_number %></li>
              <li><i class="fa fa-mobile pr-10 text-default"></i> <%= @physician.personal_number %></li>
              <li><a href="mailto:<%= current_user.email %>"><i class="fa fa-envelope-o pr-10"></i><%= current_user.email %></a></li>
          </div>
        </div>

      </div>
      <!-- main end -->

    </div>
  </div>
</section>

<br>
