<br>
<h1 style="text-align: center;">Resources</h1>
<% if current_user %>
  <%= link_to 'Add Resource', resources_new_path, class: "btn btn-success" %>
<% end %>
<%= form_tag "/resources", method: :get do %>
  <%= text_field_tag :search_term %>
  <%= submit_tag "Search" %>
<% end %>
<br>
<br>
<% @resources.each do |resource| %>
  <div class="col-md-4">
    <div class="well">
      
      <h1 style="text-align: center;">
        <a href="<%= resource.url %>"><%= resource.name %>
      </a></h1>
      <br>
      <% if resource.image %>
        <img src="<%= resource.image %>" style="width:250px;height:200px; display: block; margin: auto;">
        <br>
      <% end %>
      <h4>
        Description:
      </h4>
      <p><%= resource.description %></p>
      <% if resource.state && resource.state != "" %>
        <h4>
          State:
        </h4>
        <p><%= resource.state %></p>
      <% end %>
      <% if resource.purpose && resource.purpose != "" %>
        <h4>
          Purpose:
        </h4>
        <p><%= resource.purpose %></p>
      <% end %>
      <% if current_user && current_user.user_type == 'admin' %>
        <%= link_to "Edit", "/resources/#{resource.id}/edit", class: "btn btn-info" %>
        <%= link_to "Delete", "/resources/#{resource.id}", class: "btn btn-danger", method: :delete %>
      <% end %>

    </div>
    
  </div>
<% end %>