<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <title>Trisomy Association</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render '/partials/layout-head' %>
  </head>
  <body class="no-trans  transparent-header">
    <div class="scrollToTop circle">
      <i class="icon-up-open-big"></i>
    </div>
    <div class="page-wrapper">
      <div class="header-container">
        <%= render '/partials/layout-header-navbar' %>
      </div>
      <div class="container">
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : name.to_s == 'alert' ? 'danger' : name %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <%= message.html_safe %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= render '/partials/app-javascript' %>
  </body>

</html>
